 {"openapi":"3.0.1","info":{"title":"Open-banking","description":"open-banking","contact":{"name":"API Support","url":"https://www.example.com/support","email":"support@example.com"},"version":"v1"},"servers":[{"url":"https://api.priorbank.by:9344/open-banking/v1.0"}],"tags":[{"name":"Создание, удаление, получение информации о согласиях по счетам"},{"name":"Получение информации по счетам клиента"},{"name":"Получение информации о балансе счетов"},{"name":"Создание и получение выписки по счету"},{"name":"Создание и получение перечня транзакций по счету"},{"name":"Создание и получение согласия на инициирование платежа плательщиком за товары, работы, услуги  (Скоро будет доступно)"},{"name":"Создание, получение и отзыв платежа по инициативе плательщика за товары, работы, услуги (Скоро будет доступно)"},{"name":"Создание и получение согласия на инициирование платежа плательщиком в бюджет (Скоро будет доступно)"},{"name":"Создание, получение и отзыв платежа по инициативе плательщика в бюджет (Скоро будет доступно)"},{"name":"Создание и получение согласия на инициирование платежа плательщиком, содержащего список бенефициаров с указанием счетов бенефициаров (Скоро будет доступно)"},{"name":"Создание, получение и отзыв платежа по инициативе плательщика, содержащего список бенефициаров с указанием счетов бенефициаров (Скоро будет доступно)"},{"name":"Создание и получение согласия на инициирование платежа плательщиком, содержащего список бенефициаров при осуществлении перевода без открытия счета (Скоро будет доступно)"},{"name":"Создание, получение и отзыв платежа по инициативе плательщика, содержащего список бенефициаров при осуществлении перевода без открытия счета (Скоро будет доступно)"},{"name":"Создание и получение согласия на инициирование платежа бенефициаром за товары, работы, услуги (Скоро будет доступно)"},{"name":"Создание, получение и отзыв платежа по инициативе бенефициара за товары, работы, услуги (Скоро будет доступно)"},{"name":"Создание, получение и отзыв согласия на инициирование рекуррентного платежа (Скоро будет доступно)"},{"name":"Создание, получение и отзыв реккурентного платежа (Скоро будет доступно)"}],"paths":{"/payments/requirement":{"post":{"tags":["Создание, получение и отзыв платежа по инициативе бенефициара за товары, работы, услуги (Скоро будет доступно)"],"summary":"Создание платежа по инициативе бенефициара за товары, работы, услуги","description":"Создание платежа по инициативе бенефициара за товары, работы, услуги","operationId":"createRequirementPayments","parameters":[{"name":"Content-Type","in":"header","description":"Формат полезной нагрузки в запросе","required":true,"style":"simple","explode":false,"schema":{"type":"string","default":"application/json"}},{"name":"Accept","in":"header","description":"Тип контента, который требуется от сервера","required":false,"style":"simple","explode":false,"schema":{"type":"string","default":"application/json"}},{"name":"x-fapi-auth-date","in":"header","description":"Дата последней авторизации в систему пользователя API второго типа. Значение предоставляется в виде HTTP-date. [RFC7231]","required":false,"style":"simple","explode":false,"schema":{"type":"string"},"example":"Mon, 26 Aug 2019 12:23:11 GMT"},{"name":"x-fapi-customer-ipaddress","in":"header","description":"IP-адрес клиента, если клиент в данный момент подключен к пользователю API второго типа","required":false,"style":"simple","explode":false,"schema":{"type":"string"}},{"name":"x-fapi-interaction-id","in":"header","description":"Идентификатор корреляции в формате RFC4122 UID","required":true,"style":"simple","explode":false,"schema":{"type":"string"}},{"name":"x-idempotency-key","in":"header","description":"Уникальный идентификатор запроса для поддержки идемпотентности. Используется для решения проблем потери связи и отправки повторного запроса","required":true,"style":"simple","explode":false,"schema":{"type":"string"}},{"name":"x-customer-useragent","in":"header","description":"Тип устройства (user-agent), который использует клиент","required":false,"style":"simple","explode":false,"schema":{"type":"string"}},{"name":"x-jws-signature","in":"header","description":"Указывает, что JSON запрос подписан","required":false,"style":"simple","explode":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateRequirementPaymentsRequest"}}},"required":true},"responses":{"201":{"description":"Данный код статуса формируется в случае успешного выполнения сервиса","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RequirementPaymentsResponse"}}}},"400":{"description":"Данный код статуса формируется в случае несоответствия входных параметров либо синтаксису, либо допустимому формату. Ошибки указаны в параметре details","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OBErrorResponse400"}}}},"403":{"description":"Данный код статуса формируется в случае ошибки авторизации","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OBErrorResponse403"}}}},"406":{"description":"Данный код статуса формируется в случае значения в заголовке Accept, отличного от разрешенных media types","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OBErrorResponse406"}}}},"415":{"description":"Данный код статуса формируется в случае несоответствия формата запроса поддерживаемым сервером форматом.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OBErrorResponse415"}}}},"500":{"description":"Данный код статуса формируется в случае аварийного завершения работы сервиса. Система может находиться в несогласованном состоянии","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OBErrorResponse500"}}}},"503":{"description":"Данный код статуса формируется в случае отсутствия возможности обработать или выполнить запрос по техническим причинам","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OBErrorResponse503"}}}}},"security":[{"default":["payments"]}],"x-throttling-tier":"Unlimited","x-auth-type":"Application & Application User"}},"/payments/listPassports":{"post":{"tags":["Создание, получение и отзыв платежа по инициативе плательщика, содержащего список бенефициаров при осуществлении перевода без открытия счета (Скоро будет доступно)"],"summary":"Создание платежа по инициативе плательщика, содержащего список бенефициаров при инициировании перевода без открытия счета","description":"Создание платежа по инициативе плательщика, содержащего список бенефициаров при инициировании перевода без открытия счета","operationId":"createListPassportsPayments","parameters":[{"name":"Content-Type","in":"header","description":"Формат полезной нагрузки в запросе","required":true,"style":"simple","explode":false,"schema":{"type":"string","default":"application/json"}},{"name":"Accept","in":"header","description":"Тип контента, который требуется от сервера","required":false,"style":"simple","explode":false,"schema":{"type":"string","default":"application/json"}},{"name":"x-fapi-auth-date","in":"header","description":"Дата последней авторизации в систему пользователя API второго типа. Значение предоставляется в виде HTTP-date. [RFC7231]","required":false,"style":"simple","explode":false,"schema":{"type":"string"},"example":"Mon, 26 Aug 2019 12:23:11 GMT"},{"name":"x-fapi-customer-ipaddress","in":"header","description":"IP-адрес клиента, если клиент в данный момент подключен к пользователю API второго типа","required":false,"style":"simple","explode":false,"schema":{"type":"string"}},{"name":"x-fapi-interaction-id","in":"header","description":"Идентификатор корреляции в формате RFC4122 UID","required":true,"style":"simple","explode":false,"schema":{"type":"string"}},{"name":"x-idempotency-key","in":"header","description":"Уникальный идентификатор запроса для поддержки идемпотентности. Используется для решения проблем потери связи и отправки повторного запроса","required":true,"style":"simple","explode":false,"schema":{"type":"string"}},{"name":"x-jws-signature","in":"header","description":"Указывает, что JSON запрос подписан","required":false,"style":"simple","explode":false,"schema":{"type":"string"}},{"name":"x-customer-useragent","in":"header","description":"Тип устройства (user-agent), который использует клиент","required":false,"style":"simple","explode":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateListPassportsPaymentsRequest"}}},"required":true},"responses":{"201":{"description":"Данный код статуса формируется в случае успешного выполнения сервиса","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ListPassportsPaymentsResponse"}}}},"400":{"description":"Данный код статуса формируется в случае несоответствия входных параметров либо синтаксису, либо допустимому формату. Ошибки указаны в параметре details","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OBErrorResponse400"}}}},"403":{"description":"Данный код статуса формируется в случае ошибки авторизации","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OBErrorResponse403"}}}},"406":{"description":"Данный код статуса формируется в случае значения в заголовке Accept, отличного от разрешенных media types","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OBErrorResponse406"}}}},"415":{"description":"Данный код статуса формируется в случае несоответствия формата запроса поддерживаемым сервером форматом.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OBErrorResponse415"}}}},"500":{"description":"Данный код статуса формируется в случае аварийного завершения работы сервиса. Система может находиться в несогласованном состоянии","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OBErrorResponse500"}}}},"503":{"description":"Данный код статуса формируется в случае отсутствия возможности обработать или выполнить запрос по техническим причинам","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OBErrorResponse503"}}}}},"security":[{"default":["payments"]}],"x-throttling-tier":"Unlimited","x-auth-type":"Application & Application User"}},"/payments/listAccounts":{"post":{"tags":["Создание, получение и отзыв платежа по инициативе плательщика, содержащего список бенефициаров с указанием счетов бенефициаров (Скоро будет доступно)"],"summary":"Создание платежа по инициативе плательщика, содержащего список счетов бенефициаров","description":"Создание платежа по инициативе плательщика, содержащего список счетов бенефициаров","operationId":"createListAccountsPayments","parameters":[{"name":"Content-Type","in":"header","description":"Формат полезной нагрузки в запросе","required":true,"style":"simple","explode":false,"schema":{"type":"string","default":"application/json"}},{"name":"Accept","in":"header","description":"Тип контента, который требуется от сервера","required":false,"style":"simple","explode":false,"schema":{"type":"string","default":"application/json"}},{"name":"x-fapi-auth-date","in":"header","description":"Дата последней авторизации в систему пользователя API второго типа. Значение предоставляется в виде HTTP-date. [RFC7231]","required":false,"style":"simple","explode":false,"schema":{"type":"string"},"example":"Mon, 26 Aug 2019 12:23:11 GMT"},{"name":"x-fapi-customer-ipaddress","in":"header","description":"IP-адрес клиента, если клиент в данный момент подключен к пользователю API второго типа","required":false,"style":"simple","explode":false,"schema":{"type":"string"}},{"name":"x-fapi-interaction-id","in":"header","description":"Идентификатор корреляции в формате RFC4122 UID","required":true,"style":"simple","explode":false,"schema":{"type":"string"}},{"name":"x-idempotency-key","in":"header","description":"Уникальный идентификатор запроса для поддержки идемпотентности. Используется для решения проблем потери связи и отправки повторного запроса","required":true,"style":"simple","explode":false,"schema":{"type":"string"}},{"name":"x-jws-signature","in":"header","description":"Указывает, что JSON запрос подписан","required":false,"style":"simple","explode":false,"schema":{"type":"string"}},{"name":"x-customer-useragent","in":"header","description":"Тип устройства (user-agent), который использует клиент","required":false,"style":"simple","explode":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateListAccountsPaymentsRequest"}}},"required":true},"responses":{"201":{"description":"Данный код статуса формируется в случае успешного выполнения сервиса","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ListAccountsPaymentsResponse"}}}},"400":{"description":"Данный код статуса формируется в случае несоответствия входных параметров либо синтаксису, либо допустимому формату. Ошибки указаны в параметре details","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OBErrorResponse400"}}}},"403":{"description":"Данный код статуса формируется в случае ошибки авторизации","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OBErrorResponse403"}}}},"406":{"description":"Данный код статуса формируется в случае значения в заголовке Accept, отличного от разрешенных media types","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OBErrorResponse406"}}}},"415":{"description":"Данный код статуса формируется в случае несоответствия формата запроса поддерживаемым сервером форматом.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OBErrorResponse415"}}}},"500":{"description":"Данный код статуса формируется в случае аварийного завершения работы сервиса. Система может находиться в несогласованном состоянии","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OBErrorResponse500"}}}},"503":{"description":"Данный код статуса формируется в случае отсутствия возможности обработать или выполнить запрос по техническим причинам","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OBErrorResponse503"}}}}},"security":[{"default":["payments"]}],"x-throttling-tier":"Unlimited","x-auth-type":"Application & Application User"}},"/payments/domestic":{"post":{"tags":["Создание, получение и отзыв платежа по инициативе плательщика за товары, работы, услуги (Скоро будет доступно)"],"summary":"Создание платежа по инициативе плательщика за товары, работы, услуги","description":"Создание платежа по инициативе плательщика за товары, работы, услуги","operationId":"createDomesticPayments","parameters":[{"name":"Content-Type","in":"header","description":"Формат полезной нагрузки в запросе","required":true,"style":"simple","explode":false,"schema":{"type":"string","default":"application/json"}},{"name":"Accept","in":"header","description":"Тип контента, который требуется от сервера","required":false,"style":"simple","explode":false,"schema":{"type":"string","default":"application/json"}},{"name":"x-fapi-auth-date","in":"header","description":"Дата последней авторизации в систему пользователя API второго типа. Значение предоставляется в виде HTTP-date. [RFC7231]","required":false,"style":"simple","explode":false,"schema":{"type":"string"},"example":"Mon, 26 Aug 2019 12:23:11 GMT"},{"name":"x-fapi-customer-ipaddress","in":"header","description":"IP-адрес клиента, если клиент в данный момент подключен к пользователю API второго типа","required":false,"style":"simple","explode":false,"schema":{"type":"string"}},{"name":"x-fapi-interaction-id","in":"header","description":"Идентификатор корреляции в формате RFC4122 UID","required":true,"style":"simple","explode":false,"schema":{"type":"string"}},{"name":"x-idempotency-key","in":"header","description":"Уникальный идентификатор запроса для поддержки идемпотентности. Используется для решения проблем потери связи и отправки повторного запроса","required":true,"style":"simple","explode":false,"schema":{"type":"string"}},{"name":"x-jws-signature","in":"header","description":"Указывает, что JSON запрос подписан","required":false,"style":"simple","explode":false,"schema":{"type":"string"}},{"name":"x-customer-useragent","in":"header","description":"Тип устройства (user-agent), который использует клиент","required":false,"style":"simple","explode":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateDomesticPaymentsRequest"}}},"required":true},"responses":{"201":{"description":"Данный код статуса формируется в случае успешного выполнения сервиса","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DomesticPaymentsResponse"}}}},"400":{"description":"Данный код статуса формируется в случае несоответствия входных параметров либо синтаксису, либо допустимому формату. Ошибки указаны в параметре details","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OBErrorResponse400"}}}},"403":{"description":"Данный код статуса формируется в случае ошибки авторизации","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OBErrorResponse403"}}}},"406":{"description":"Данный код статуса формируется в случае значения в заголовке Accept, отличного от разрешенных media types","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OBErrorResponse406"}}}},"415":{"description":"Данный код статуса формируется в случае несоответствия формата запроса поддерживаемым сервером форматом.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OBErrorResponse415"}}}},"500":{"description":"Данный код статуса формируется в случае аварийного завершения работы сервиса. Система может находиться в несогласованном состоянии","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OBErrorResponse500"}}}},"503":{"description":"Данный код статуса формируется в случае отсутствия возможности обработать или выполнить запрос по техническим причинам","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OBErrorResponse503"}}}}},"security":[{"default":["payments"]}],"x-throttling-tier":"Unlimited","x-auth-type":"Application & Application User"}},"/payments/domesticTax":{"post":{"tags":["Создание, получение и отзыв платежа по инициативе плательщика в бюджет (Скоро будет доступно)"],"summary":"Создание платежного указания на инициирование платежа плательщиком в бюджет","description":"Создание платежного указания на инициирование платежа плательщиком в бюджет","operationId":"createDomesticTaxPayments","parameters":[{"name":"Content-Type","in":"header","description":"Формат полезной нагрузки в запросе","required":true,"style":"simple","explode":false,"schema":{"type":"string","default":"application/json"}},{"name":"Accept","in":"header","description":"Тип контента, который требуется от сервера","required":false,"style":"simple","explode":false,"schema":{"type":"string","default":"application/json"}},{"name":"x-fapi-auth-date","in":"header","description":"Дата последней авторизации в систему пользователя API второго типа. Значение предоставляется в виде HTTP-date. [RFC7231]","required":false,"style":"simple","explode":false,"schema":{"type":"string"},"example":"Mon, 26 Aug 2019 12:23:11 GMT"},{"name":"x-fapi-customer-ipaddress","in":"header","description":"IP-адрес клиента, если клиент в данный момент подключен к пользователю API второго типа","required":false,"style":"simple","explode":false,"schema":{"type":"string"}},{"name":"x-fapi-interaction-id","in":"header","description":"Идентификатор корреляции в формате RFC4122 UID","required":true,"style":"simple","explode":false,"schema":{"type":"string"}},{"name":"x-idempotency-key","in":"header","description":"Уникальный идентификатор запроса для поддержки идемпотентности. Используется для решения проблем потери связи и отправки повторного запроса","required":true,"style":"simple","explode":false,"schema":{"type":"string"}},{"name":"x-jws-signature","in":"header","description":"Указывает, что JSON запрос подписан","required":false,"style":"simple","explode":false,"schema":{"type":"string"}},{"name":"x-customer-useragent","in":"header","description":"Тип устройства (user-agent), который использует клиент","required":false,"style":"simple","explode":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateDomesticTaxPaymentsRequest"}}},"required":true},"responses":{"201":{"description":"Данный код статуса формируется в случае успешного выполнения сервиса","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DomesticTaxPaymentsResponse"}}}},"400":{"description":"Данный код статуса формируется в случае несоответствия входных параметров либо синтаксису, либо допустимому формату. Ошибки указаны в параметре details","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OBErrorResponse400"}}}},"403":{"description":"Данный код статуса формируется в случае ошибки авторизации","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OBErrorResponse403"}}}},"406":{"description":"Данный код статуса формируется в случае значения в заголовке Accept, отличного от разрешенных media types","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OBErrorResponse406"}}}},"415":{"description":"Данный код статуса формируется в случае несоответствия формата запроса поддерживаемым сервером форматом.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OBErrorResponse415"}}}},"500":{"description":"Данный код статуса формируется в случае аварийного завершения работы сервиса. Система может находиться в несогласованном состоянии","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OBErrorResponse500"}}}},"503":{"description":"Данный код статуса формируется в случае отсутствия возможности обработать или выполнить запрос по техническим причинам","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OBErrorResponse503"}}}}},"security":[{"default":["payments"]}],"x-throttling-tier":"Unlimited","x-auth-type":"Application & Application User"}},"/payments/VRP":{"post":{"tags":["Создание, получение и отзыв реккурентного платежа (Скоро будет доступно)"],"summary":"Создание VRP (рекуррентного) платежа","description":"Создание VRP (рекуррентного) платежа","operationId":"createVrpPayments","parameters":[{"name":"Content-Type","in":"header","description":"Формат полезной нагрузки в запросе","required":true,"style":"simple","explode":false,"schema":{"type":"string","default":"application/json"}},{"name":"Accept","in":"header","description":"Тип контента, который требуется от сервера","required":false,"style":"simple","explode":false,"schema":{"type":"string","default":"application/json"}},{"name":"x-fapi-auth-date","in":"header","description":"Дата последней авторизации в систему пользователя API второго типа. Значение предоставляется в виде HTTP-date. [RFC7231]","required":false,"style":"simple","explode":false,"schema":{"type":"string"},"example":"Mon, 26 Aug 2019 12:23:11 GMT"},{"name":"x-fapi-customer-ipaddress","in":"header","description":"IP-адрес клиента, если клиент в данный момент подключен к пользователю API второго типа","required":false,"style":"simple","explode":false,"schema":{"type":"string"}},{"name":"x-fapi-interaction-id","in":"header","description":"Идентификатор корреляции в формате RFC4122 UID","required":true,"style":"simple","explode":false,"schema":{"type":"string"}},{"name":"x-idempotency-key","in":"header","description":"Уникальный идентификатор запроса для поддержки идемпотентности. Используется для решения проблем потери связи и отправки повторного запроса","required":true,"style":"simple","explode":false,"schema":{"type":"string"}},{"name":"x-jws-signature","in":"header","description":"Указывает, что JSON запрос подписан","required":false,"style":"simple","explode":false,"schema":{"type":"string"}},{"name":"x-customer-useragent","in":"header","description":"Тип устройства (user-agent), который использует клиент","required":false,"style":"simple","explode":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateVrpPaymentsRequest"}}},"required":true},"responses":{"201":{"description":"Данный код статуса формируется в случае успешного выполнения сервиса","content":{"application/json":{"schema":{"$ref":"#/components/schemas/VrpPaymentsResponse"}}}},"400":{"description":"Данный код статуса формируется в случае несоответствия входных параметров либо синтаксису, либо допустимому формату. Ошибки указаны в параметре details","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OBErrorResponse400"}}}},"403":{"description":"Данный код статуса формируется в случае ошибки авторизации","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OBErrorResponse403"}}}},"406":{"description":"Данный код статуса формируется в случае значения в заголовке Accept, отличного от разрешенных media types","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OBErrorResponse406"}}}},"415":{"description":"Данный код статуса формируется в случае несоответствия формата запроса поддерживаемым сервером форматом.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OBErrorResponse415"}}}},"500":{"description":"Данный код статуса формируется в случае аварийного завершения работы сервиса. Система может находиться в несогласованном состоянии","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OBErrorResponse500"}}}},"503":{"description":"Данный код статуса формируется в случае отсутствия возможности обработать или выполнить запрос по техническим причинам","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OBErrorResponse503"}}}}},"security":[{"default":["payments"]}],"x-throttling-tier":"Unlimited","x-auth-type":"Application & Application User"}},"/paymentConsents/requirement":{"post":{"tags":["Создание и получение согласия на инициирование платежа бенефициаром за товары, работы, услуги (Скоро будет доступно)"],"summary":"Создание согласия на инициирование платежа бенефициаром за товары, работы, услуги","description":"Создание согласия на инициирование платежа бенефициаром за товары, работы, услуги","operationId":"createPaymentConsentsRequirement","parameters":[{"name":"Content-Type","in":"header","description":"Формат полезной нагрузки в запросе","required":true,"style":"simple","explode":false,"schema":{"type":"string","default":"application/json"}},{"name":"Accept","in":"header","description":"Тип контента, который требуется от сервера","required":false,"style":"simple","explode":false,"schema":{"type":"string","default":"application/json"}},{"name":"x-fapi-auth-date","in":"header","description":"Дата последней авторизации в систему пользователя API второго типа. Значение предоставляется в виде HTTP-date. [RFC7231]","required":false,"style":"simple","explode":false,"schema":{"type":"string"},"example":"Mon, 26 Aug 2019 12:23:11 GMT"},{"name":"x-fapi-customer-ipaddress","in":"header","description":"IP-адрес клиента, если клиент в данный момент подключен к пользователю API второго типа","required":false,"style":"simple","explode":false,"schema":{"type":"string"}},{"name":"x-fapi-interaction-id","in":"header","description":"Идентификатор корреляции в формате RFC4122 UID","required":true,"style":"simple","explode":false,"schema":{"type":"string"}},{"name":"x-idempotency-key","in":"header","description":"Уникальный идентификатор запроса для поддержки идемпотентности. Используется для решения проблем потери связи и отправки повторного запроса","required":true,"style":"simple","explode":false,"schema":{"type":"string"}},{"name":"x-customer-useragent","in":"header","description":"Тип устройства (user-agent), который использует клиент","required":false,"style":"simple","explode":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RequirementConsentRequest"}}},"required":true},"responses":{"201":{"description":"Данный код статуса формируется в случае успешного выполнения сервиса","headers":{"x-fapi-interaction-id":{"description":"RFC4122 UID, используемый в качестве идентификатора корреляции","required":true,"style":"simple","explode":false,"schema":{"type":"string"}},"Content-Type":{"description":"Поставщик API возвращает значение Content-Type, равное application/json, в качестве заголовка для всех незашифрованных конечных точек","required":true,"style":"simple","explode":false,"schema":{"type":"string"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RequirementConsentResponse"}}}},"400":{"description":"Данный код статуса формируется в случае несоответствия входных параметров либо синтаксису, либо допустимому формату. Ошибки указаны в параметре details","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OBErrorResponse400"}}}},"403":{"description":"Данный код статуса формируется в случае ошибки авторизации","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OBErrorResponse403"}}}},"406":{"description":"Данный код статуса формируется в случае значения в заголовке Accept, отличного от разрешенных media types","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OBErrorResponse406"}}}},"415":{"description":"Данный код статуса формируется в случае несоответствия формата запроса поддерживаемым сервером форматом.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OBErrorResponse415"}}}},"500":{"description":"Данный код статуса формируется в случае аварийного завершения работы сервиса. Система может находиться в несогласованном состоянии","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OBErrorResponse500"}}}},"503":{"description":"Данный код статуса формируется в случае отсутствия возможности обработать или выполнить запрос по техническим причинам","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OBErrorResponse503"}}}}},"security":[{"default":[]}],"x-throttling-tier":"Unlimited","x-auth-type":"Application & Application User"}},"/paymentConsents/listPassports":{"post":{"tags":["Создание и получение согласия на инициирование платежа плательщиком, содержащего список бенефициаров при осуществлении перевода без открытия счета (Скоро будет доступно)"],"summary":"Создание согласия на инициирование платежа плательщиком, содержащее список бенефициаров при осуществлении перевода без открытия счета","description":"Создание согласия на инициирование платежа плательщиком, содержащее список бенефициаров при осуществлении перевода без открытия счета","operationId":"createPaymentConsentsListPassports","parameters":[{"name":"Content-Type","in":"header","description":"Формат полезной нагрузки в запросе","required":true,"style":"simple","explode":false,"schema":{"type":"string","default":"application/json"}},{"name":"Accept","in":"header","description":"Тип контента, который требуется от сервера","required":false,"style":"simple","explode":false,"schema":{"type":"string","default":"application/json"}},{"name":"x-fapi-auth-date","in":"header","description":"Дата последней авторизации в систему пользователя API второго типа. Значение предоставляется в виде HTTP-date. [RFC7231]","required":false,"style":"simple","explode":false,"schema":{"type":"string"},"example":"Mon, 26 Aug 2019 12:23:11 GMT"},{"name":"x-fapi-customer-ipaddress","in":"header","description":"IP-адрес клиента, если клиент в данный момент подключен к пользователю API второго типа","required":false,"style":"simple","explode":false,"schema":{"type":"string"}},{"name":"x-fapi-interaction-id","in":"header","description":"Идентификатор корреляции в формате RFC4122 UID","required":true,"style":"simple","explode":false,"schema":{"type":"string"}},{"name":"x-idempotency-key","in":"header","description":"Уникальный идентификатор запроса для поддержки идемпотентности. Используется для решения проблем потери связи и отправки повторного запроса","required":true,"style":"simple","explode":false,"schema":{"type":"string"}},{"name":"x-customer-useragent","in":"header","description":"Тип устройства (user-agent), который использует клиент","required":false,"style":"simple","explode":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ListPassportsConsentRequest"}}},"required":true},"responses":{"201":{"description":"Данный код статуса формируется в случае успешного выполнения сервиса","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ListPassportsConsentResponse"}}}},"400":{"description":"Данный код статуса формируется в случае несоответствия входных параметров либо синтаксису, либо допустимому формату. Ошибки указаны в параметре details","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OBErrorResponse400"}}}},"403":{"description":"Данный код статуса формируется в случае ошибки авторизации","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OBErrorResponse403"}}}},"406":{"description":"Данный код статуса формируется в случае значения в заголовке Accept, отличного от разрешенных media types","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OBErrorResponse406"}}}},"415":{"description":"Данный код статуса формируется в случае несоответствия формата запроса поддерживаемым сервером форматом.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OBErrorResponse415"}}}},"500":{"description":"Данный код статуса формируется в случае аварийного завершения работы сервиса. Система может находиться в несогласованном состоянии","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OBErrorResponse500"}}}},"503":{"description":"Данный код статуса формируется в случае отсутствия возможности обработать или выполнить запрос по техническим причинам","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OBErrorResponse503"}}}}},"security":[{"default":[]}],"x-throttling-tier":"Unlimited","x-auth-type":"Application & Application User"}},"/paymentConsents/listAccounts":{"post":{"tags":["Создание и получение согласия на инициирование платежа плательщиком, содержащего список бенефициаров с указанием счетов бенефициаров (Скоро будет доступно)"],"summary":"Создание согласия на инициирование платежа плательщиком, содержащего список бенефициаров с указанием счетов бенефициаров","description":"Создание согласия на инициирование платежа плательщиком, содержащего список бенефициаров с указанием счетов бенефициаров","operationId":"createPaymentConsentsListAccounts","parameters":[{"name":"Content-Type","in":"header","description":"Формат полезной нагрузки в запросе","required":true,"style":"simple","explode":false,"schema":{"type":"string","default":"application/json"}},{"name":"Accept","in":"header","description":"Тип контента, который требуется от сервера","required":false,"style":"simple","explode":false,"schema":{"type":"string","default":"application/json"}},{"name":"x-fapi-auth-date","in":"header","description":"Дата последней авторизации в систему пользователя API второго типа. Значение предоставляется в виде HTTP-date. [RFC7231]","required":false,"style":"simple","explode":false,"schema":{"type":"string"},"example":"Mon, 26 Aug 2019 12:23:11 GMT"},{"name":"x-fapi-customer-ipaddress","in":"header","description":"IP-адрес клиента, если клиент в данный момент подключен к пользователю API второго типа","required":false,"style":"simple","explode":false,"schema":{"type":"string"}},{"name":"x-fapi-interaction-id","in":"header","description":"Идентификатор корреляции в формате RFC4122 UID","required":true,"style":"simple","explode":false,"schema":{"type":"string"}},{"name":"x-idempotency-key","in":"header","description":"Уникальный идентификатор запроса для поддержки идемпотентности. Используется для решения проблем потери связи и отправки повторного запроса","required":true,"style":"simple","explode":false,"schema":{"type":"string"}},{"name":"x-customer-useragent","in":"header","description":"Тип устройства (user-agent), который использует клиент","required":false,"style":"simple","explode":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ListAccountsConsentRequest"}}},"required":true},"responses":{"201":{"description":"Данный код статуса формируется в случае успешного выполнения сервиса","headers":{"x-fapi-interaction-id":{"description":"RFC4122 UID, используемый в качестве идентификатора корреляции","required":true,"style":"simple","explode":false,"schema":{"type":"string"}},"Content-Type":{"description":"Поставщик API возвращает значение Content-Type, равное application/json, в качестве заголовка для всех незашифрованных конечных точек","required":true,"style":"simple","explode":false,"schema":{"type":"string"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ListAccountsConsentResponse"}}}},"400":{"description":"Данный код статуса формируется в случае несоответствия входных параметров либо синтаксису, либо допустимому формату. Ошибки указаны в параметре details","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OBErrorResponse400"}}}},"403":{"description":"Данный код статуса формируется в случае ошибки авторизации","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OBErrorResponse403"}}}},"406":{"description":"Данный код статуса формируется в случае значения в заголовке Accept, отличного от разрешенных media types","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OBErrorResponse406"}}}},"415":{"description":"Данный код статуса формируется в случае несоответствия формата запроса поддерживаемым сервером форматом.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OBErrorResponse415"}}}},"500":{"description":"Данный код статуса формируется в случае аварийного завершения работы сервиса. Система может находиться в несогласованном состоянии","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OBErrorResponse500"}}}},"503":{"description":"Данный код статуса формируется в случае отсутствия возможности обработать или выполнить запрос по техническим причинам","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OBErrorResponse503"}}}}},"security":[{"default":[]}],"x-throttling-tier":"Unlimited","x-auth-type":"Application & Application User"}},"/paymentConsents/domestic":{"post":{"tags":["Создание и получение согласия на инициирование платежа плательщиком за товары, работы, услуги  (Скоро будет доступно)"],"summary":"Создание согласия на инициирование платежа плательщиком за товары, работы, услуги","description":"Создание согласия на инициирование платежа плательщиком за товары, работы, услуги","operationId":"createPaymentConsent","parameters":[{"name":"Content-Type","in":"header","description":"Формат полезной нагрузки в запросе","required":true,"style":"simple","explode":false,"schema":{"type":"string","default":"application/json"}},{"name":"Accept","in":"header","description":"Тип контента, который требуется от сервера","required":false,"style":"simple","explode":false,"schema":{"type":"string","default":"application/json"}},{"name":"x-jws-signature","in":"header","description":"Указывает, что JSON запрос подписан","required":false,"style":"simple","explode":false,"schema":{"type":"string"}},{"name":"x-fapi-auth-date","in":"header","description":"Дата последней авторизации в систему пользователя API второго типа. Значение предоставляется в виде HTTP-date. [RFC7231]","required":false,"style":"simple","explode":false,"schema":{"type":"string"},"example":"Mon, 26 Aug 2019 12:23:11 GMT"},{"name":"x-fapi-customer-ipaddress","in":"header","description":"IP-адрес клиента, если клиент в данный момент подключен к пользователю API второго типа","required":false,"style":"simple","explode":false,"schema":{"type":"string"}},{"name":"x-fapi-interaction-id","in":"header","description":"Идентификатор корреляции в формате RFC4122 UID","required":true,"style":"simple","explode":false,"schema":{"type":"string"}},{"name":"x-idempotency-key","in":"header","description":"Уникальный идентификатор запроса для поддержки идемпотентности. Используется для решения проблем потери связи и отправки повторного запроса","required":true,"style":"simple","explode":false,"schema":{"type":"string"}},{"name":"x-customer-useragent","in":"header","description":"Тип устройства (user-agent), который использует клиент","required":false,"style":"simple","explode":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DomesticConsentRequest"}}},"required":true},"responses":{"201":{"description":"Запрос успешно выполнен","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DomesticConsentResponse"}}}},"400":{"description":"Данный код статуса формируется в случае несоответствия входных параметров либо синтаксису, либо допустимому формату. Ошибки указаны в параметре details","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OBErrorResponse400"}}}},"403":{"description":"Данный код статуса формируется в случае ошибки авторизации","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OBErrorResponse403"}}}},"406":{"description":"Данный код статуса формируется в случае значения в заголовке Accept, отличного от разрешенных media types","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OBErrorResponse406"}}}},"415":{"description":"Данный код статуса формируется в случае несоответствия формата запроса поддерживаемым сервером форматом.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OBErrorResponse415"}}}},"500":{"description":"Данный код статуса формируется в случае аварийного завершения работы сервиса. Система может находиться в несогласованном состоянии","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OBErrorResponse500"}}}},"503":{"description":"Данный код статуса формируется в случае отсутствия возможности обработать или выполнить запрос по техническим причинам","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OBErrorResponse503"}}}}},"security":[{"default":["payments"]}],"x-throttling-tier":"Unlimited","x-auth-type":"Application & Application User"}},"/paymentConsents/domesticTax":{"post":{"tags":["Создание и получение согласия на инициирование платежа плательщиком в бюджет (Скоро будет доступно)"],"summary":"Создание согласия на инициирование платежа плательщиком в бюджет","description":"Создание согласия на инициирование платежа плательщиком в бюджет","operationId":"createPaymentConsent_1","parameters":[{"name":"Content-Type","in":"header","description":"Формат полезной нагрузки в запросе","required":true,"style":"simple","explode":false,"schema":{"type":"string","default":"application/json"}},{"name":"Accept","in":"header","description":"Тип контента, который требуется от сервера","required":false,"style":"simple","explode":false,"schema":{"type":"string","default":"application/json"}},{"name":"x-jwt-assertion","in":"header","description":"Параметры приложения и конечного пользователя в структуре jwt, которую формирует API Gateway","required":true,"style":"simple","explode":false,"schema":{"type":"string"}},{"name":"x-jws-signature","in":"header","description":"Указывает, что JSON запрос подписан","required":false,"style":"simple","explode":false,"schema":{"type":"string"}},{"name":"x-fapi-auth-date","in":"header","description":"Дата последней авторизации в систему пользователя API второго типа. Значение предоставляется в виде HTTP-date. [RFC7231]","required":false,"style":"simple","explode":false,"schema":{"type":"string"},"example":"Mon, 26 Aug 2019 12:23:11 GMT"},{"name":"x-fapi-customer-ipaddress","in":"header","description":"IP-адрес клиента, если клиент в данный момент подключен к пользователю API второго типа","required":false,"style":"simple","explode":false,"schema":{"type":"string"}},{"name":"x-fapi-interaction-id","in":"header","description":"Идентификатор корреляции в формате RFC4122 UID","required":true,"style":"simple","explode":false,"schema":{"type":"string"}},{"name":"x-idempotency-key","in":"header","description":"Уникальный идентификатор запроса для поддержки идемпотентности. Используется для решения проблем потери связи и отправки повторного запроса","required":true,"style":"simple","explode":false,"schema":{"type":"string"}},{"name":"x-customer-useragent","in":"header","description":"Тип устройства (user-agent), который использует клиент","required":false,"style":"simple","explode":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DomesticTaxConsentRequest"}}},"required":true},"responses":{"201":{"description":"Запрос успешно выполнен","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DomesticTaxConsentResponse"}}}},"400":{"description":"Данный код статуса формируется в случае несоответствия входных параметров либо синтаксису, либо допустимому формату. Ошибки указаны в параметре details","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OBErrorResponse400"}}}},"403":{"description":"Данный код статуса формируется в случае ошибки авторизации","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OBErrorResponse403"}}}},"406":{"description":"Данный код статуса формируется в случае значения в заголовке Accept, отличного от разрешенных media types","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OBErrorResponse406"}}}},"415":{"description":"Данный код статуса формируется в случае несоответствия формата запроса поддерживаемым сервером форматом.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OBErrorResponse415"}}}},"500":{"description":"Данный код статуса формируется в случае аварийного завершения работы сервиса. Система может находиться в несогласованном состоянии","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OBErrorResponse500"}}}},"503":{"description":"Данный код статуса формируется в случае отсутствия возможности обработать или выполнить запрос по техническим причинам","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OBErrorResponse503"}}}}},"security":[{"default":["payments"]}],"x-throttling-tier":"Unlimited","x-auth-type":"Application & Application User"}},"/paymentConsents/VRP":{"post":{"tags":["Создание, получение и отзыв согласия на инициирование рекуррентного платежа (Скоро будет доступно)"],"summary":"Создание долгосрочного согласия на инициирование рекуррентного платежа","description":"Создание долгосрочного согласия на инициирование рекуррентного платежа","operationId":"createPaymentConsentVrp","parameters":[{"name":"Content-Type","in":"header","description":"Формат полезной нагрузки в запросе","required":true,"style":"simple","explode":false,"schema":{"type":"string","default":"application/json"}},{"name":"Accept","in":"header","description":"Тип контента, который требуется от сервера","required":false,"style":"simple","explode":false,"schema":{"type":"string","default":"application/json"}},{"name":"x-jws-signature","in":"header","description":"Указывает, что JSON запрос подписан","required":false,"style":"simple","explode":false,"schema":{"type":"string"}},{"name":"x-fapi-auth-date","in":"header","description":"Дата последней авторизации в систему пользователя API второго типа. Значение предоставляется в виде HTTP-date. [RFC7231]","required":false,"style":"simple","explode":false,"schema":{"type":"string"},"example":"Mon, 26 Aug 2019 12:23:11 GMT"},{"name":"x-fapi-customer-ipaddress","in":"header","description":"IP-адрес клиента, если клиент в данный момент подключен к пользователю API второго типа","required":false,"style":"simple","explode":false,"schema":{"type":"string"}},{"name":"x-fapi-interaction-id","in":"header","description":"Идентификатор корреляции в формате RFC4122 UID","required":true,"style":"simple","explode":false,"schema":{"type":"string"}},{"name":"x-idempotency-key","in":"header","description":"Уникальный идентификатор запроса для поддержки идемпотентности. Используется для решения проблем потери связи и отправки повторного запроса","required":true,"style":"simple","explode":false,"schema":{"type":"string"}},{"name":"x-customer-useragent","in":"header","description":"Тип устройства (user-agent), который использует клиент","required":false,"style":"simple","explode":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/VRPConsentRequest"}}},"required":true},"responses":{"201":{"description":"Запрос успешно выполнен","headers":{"x-fapi-interaction-id":{"description":"RFC4122 UID, используемый в качестве идентификатора корреляции","required":true,"style":"simple","explode":false,"schema":{"type":"string"}},"Content-Type":{"description":"Поставщик API возвращает значение Content-Type, равное application/json, в качестве заголовка для всех незашифрованных конечных точек","required":true,"style":"simple","explode":false,"schema":{"type":"string"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/VRPConsentResponse"}}}},"400":{"description":"Данный код статуса формируется в случае несоответствия входных параметров либо синтаксису, либо допустимому формату. Ошибки указаны в параметре details","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OBErrorResponse400"}}}},"403":{"description":"Данный код статуса формируется в случае ошибки авторизации","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OBErrorResponse403"}}}},"406":{"description":"Данный код статуса формируется в случае значения в заголовке Accept, отличного от разрешенных media types","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OBErrorResponse406"}}}},"415":{"description":"Данный код статуса формируется в случае несоответствия формата запроса поддерживаемым сервером форматом.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OBErrorResponse415"}}}},"500":{"description":"Данный код статуса формируется в случае аварийного завершения работы сервиса. Система может находиться в несогласованном состоянии","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OBErrorResponse500"}}}},"503":{"description":"Данный код статуса формируется в случае отсутствия возможности обработать или выполнить запрос по техническим причинам","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OBErrorResponse503"}}}}},"security":[{"default":["payments"]}],"x-throttling-tier":"Unlimited","x-auth-type":"Application & Application User"}},"/accounts/{accountId}/transactions":{"post":{"tags":["Создание и получение перечня транзакций по счету"],"summary":"Создание перечня транзакций по счету","description":"Создание перечня транзакций по счету ","operationId":"postAccountTransactionsList","parameters":[{"name":"Content-Type","in":"header","description":"Формат полезной нагрузки в запросе","required":true,"style":"simple","explode":false,"schema":{"type":"string","default":"application/json"}},{"name":"Accept","in":"header","description":"Тип контента, который требуется от сервера","required":false,"style":"simple","explode":false,"schema":{"type":"string","default":"application/json"}},{"name":"x-fapi-auth-date","in":"header","description":"Дата последней авторизации в систему пользователя API второго типа. Значение предоставляется в виде HTTP-date. [RFC7231]","required":false,"style":"simple","explode":false,"schema":{"type":"string"},"example":"Mon, 26 Aug 2019 12:23:11 GMT"},{"name":"x-fapi-customer-ipaddress","in":"header","description":"IP-адрес клиента, если клиент в данный момент подключен к пользователю API второго типа","required":false,"style":"simple","explode":false,"schema":{"type":"string"}},{"name":"x-fapi-interaction-id","in":"header","description":"Идентификатор корреляции в формате RFC4122 UID","required":true,"style":"simple","explode":false,"schema":{"type":"string"}},{"name":"x-idempotency-key","in":"header","description":"Уникальный идентификатор запроса для поддержки идемпотентности. Используется для решения проблем потери связи и отправки повторного запроса","required":true,"style":"simple","explode":false,"schema":{"type":"string"}},{"name":"x-customer-useragent","in":"header","description":"Тип устройства (user-agent), который использует клиент.<br>Если используется мобильное приложение пользователя API второго типа, пользователь API второго типа проверяет, что строка типа устройства (user-agent) отличается от строки типа устройства (user-agent) на основе браузера","required":false,"style":"simple","explode":false,"schema":{"type":"string"}},{"name":"x-accountConsentId","in":"header","description":"Идентификатор согласия, в рамках которого отправляется запрос.<br>Предназначен для идентификации и авторизации запросов на получение информации по счету (счетам) пользователя API первого типа","required":false,"style":"simple","explode":false,"schema":{"type":"string"}},{"name":"accountId","in":"path","description":"Идентификатор счета","required":true,"style":"simple","explode":false,"schema":{"maxLength":35,"minLength":1,"type":"string"}},{"name":"x-api-key","in":"header","description":"Идентификатор Apikey, предназначенный для идентификации и авторизации запросов пользователя API первого типа","required":false,"style":"simple","explode":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TransactionRequest"}}},"required":true},"responses":{"201":{"description":"Данный код статуса формируется в случае успешного выполнения сервиса","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TransactionResponse"}}}},"400":{"description":"Данный код статуса формируется в случае несоответствия входных параметров либо синтаксису, либо допустимому формату. Ошибки указаны в параметре details","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OBErrorResponse400"}}}},"403":{"description":"Данный код статуса формируется в случае ошибки авторизации","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OBErrorResponse403"}}}},"406":{"description":"Данный код статуса формируется в случае значения в заголовке Accept, отличного от разрешенных media types","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OBErrorResponse406"}}}},"415":{"description":"Данный код статуса формируется в случае несоответствия формата запроса поддерживаемым сервером форматом.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OBErrorResponse415"}}}},"500":{"description":"Данный код статуса формируется в случае аварийного завершения работы сервиса. Система может находиться в несогласованном состоянии","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OBErrorResponse500"}}}},"503":{"description":"Данный код статуса формируется в случае отсутствия возможности обработать или выполнить запрос по техническим причинам","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OBErrorResponse503"}}}}},"security":[{"default":["accounts"]}],"x-throttling-tier":"Unlimited","x-auth-type":"Application & Application User"}},"/accounts/{accountId}/statements":{"post":{"tags":["Создание и получение выписки по счету"],"summary":"Создание выписки по счету","description":"Создание выписки по счету","operationId":"createAccountStatement","parameters":[{"name":"Content-Type","in":"header","description":"Формат полезной нагрузки в запросе","required":true,"style":"simple","explode":false,"schema":{"type":"string","default":"application/json"}},{"name":"Accept","in":"header","description":"Тип контента, который требуется от сервера","required":false,"style":"simple","explode":false,"schema":{"type":"string","default":"application/json"}},{"name":"x-fapi-auth-date","in":"header","description":"Дата последней авторизации в систему пользователя API второго типа. Значение предоставляется в виде HTTP-date. [RFC7231]","required":false,"style":"simple","explode":false,"schema":{"type":"string"},"example":"Mon, 26 Aug 2019 12:23:11 GMT"},{"name":"x-fapi-customer-ipaddress","in":"header","description":"IP-адрес клиента, если клиент в данный момент подключен к пользователю API второго типа","required":false,"style":"simple","explode":false,"schema":{"type":"string"}},{"name":"x-fapi-interaction-id","in":"header","description":"Идентификатор корреляции в формате RFC4122 UID","required":true,"style":"simple","explode":false,"schema":{"type":"string"}},{"name":"x-idempotency-key","in":"header","description":"Уникальный идентификатор запроса для поддержки идемпотентности. Используется для решения проблем потери связи и отправки повторного запроса","required":true,"style":"simple","explode":false,"schema":{"type":"string"}},{"name":"x-customer-useragent","in":"header","description":"Тип устройства (user-agent), который использует клиент.<br>Если используется мобильное приложение пользователя API второго типа, пользователь API второго типа проверяет, что строка типа устройства (user-agent) отличается от строки типа устройства (user-agent) на основе браузера","required":false,"style":"simple","explode":false,"schema":{"type":"string"}},{"name":"accountId","in":"path","description":"Идентификатор счета","required":true,"style":"simple","explode":false,"schema":{"maxLength":35,"minLength":1,"type":"string"}},{"name":"x-accountConsentId","in":"header","description":"Идентификатор согласия, в рамках которого отправляется запрос.<br>Предназначен для идентификации и авторизации запросов на получение информации по счету (счетам) пользователя API первого типа","required":false,"style":"simple","explode":false,"schema":{"type":"string"}},{"name":"x-api-key","in":"header","description":"Идентификатор Apikey, предназначенный для идентификации и авторизации запросов пользователя API первого типа","required":false,"style":"simple","explode":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/StatementRequest"}}},"required":true},"responses":{"201":{"description":"Данный код статуса формируется в случае успешного выполнения сервиса","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StatementResponse"}}}},"400":{"description":"Данный код статуса формируется в случае несоответствия входных параметров либо синтаксису, либо допустимому формату. Ошибки указаны в параметре details","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OBErrorResponse400"}}}},"403":{"description":"Данный код статуса формируется в случае ошибки авторизации","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OBErrorResponse403"}}}},"406":{"description":"Данный код статуса формируется в случае значения в заголовке Accept, отличного от разрешенных media types","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OBErrorResponse406"}}}},"415":{"description":"Данный код статуса формируется в случае несоответствия формата запроса поддерживаемым сервером форматом.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OBErrorResponse415"}}}},"500":{"description":"Данный код статуса формируется в случае аварийного завершения работы сервиса. Система может находиться в несогласованном состоянии","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OBErrorResponse500"}}}},"503":{"description":"Данный код статуса формируется в случае отсутствия возможности обработать или выполнить запрос по техническим причинам","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OBErrorResponse503"}}}}},"security":[{"default":["accounts"]}],"x-throttling-tier":"Unlimited","x-auth-type":"Application & Application User"}},"/accountConsents":{"post":{"tags":["Создание, удаление, получение информации о согласиях по счетам"],"summary":"Создание согласия на получение информации о счете (счетах) клиента","description":"Создание согласия на получение информации о счете (счетах) клиента","operationId":"createAccountConsent","parameters":[{"name":"Content-Type","in":"header","required":true,"style":"simple","explode":false,"schema":{"type":"string"}},{"name":"Accept","in":"header","description":"Тип контента, который требуется от сервера","required":false,"style":"simple","explode":false,"schema":{"type":"string","default":"application/json"}},{"name":"x-fapi-auth-date","in":"header","description":"Дата последней авторизации в систему пользователя API второго типа. Значение предоставляется в виде HTTP-date. [RFC7231]","required":false,"style":"simple","explode":false,"schema":{"type":"string"},"example":"Mon, 26 Aug 2019 12:23:11 GMT"},{"name":"x-fapi-customer-ipaddress","in":"header","description":"IP-адрес клиента, если клиент в данный момент подключен к пользователю API второго типа","required":false,"style":"simple","explode":false,"schema":{"type":"string"}},{"name":"x-fapi-interaction-id","in":"header","description":"Идентификатор корреляции в формате RFC4122 UID","required":true,"style":"simple","explode":false,"schema":{"type":"string"}},{"name":"x-idempotency-key","in":"header","description":"Уникальный идентификатор запроса для поддержки идемпотентности. Используется для решения проблем потери связи и отправки повторного запроса","required":true,"style":"simple","explode":false,"schema":{"type":"string"}},{"name":"x-customer-useragent","in":"header","description":"Тип устройства (user-agent), который использует клиент.<br>Если используется мобильное приложение пользователя API второго типа, пользователь API второго типа проверяет, что строка типа устройства (user-agent) отличается от строки типа устройства (user-agent) на основе браузера","required":false,"style":"simple","explode":false,"schema":{"type":"string"}},{"name":"x-api-key","in":"header","description":"Идентификатор Apikey, предназначенный для идентификации и авторизации запросов пользователя API первого типа","required":false,"style":"simple","explode":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ConsentRequest"}}},"required":true},"responses":{"201":{"description":"Данный код статуса формируется в случае успешного выполнения сервиса","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ConsentResponse"}}}},"400":{"description":"Данный код статуса формируется в случае несоответствия входных параметров либо синтаксису, либо допустимому формату. Ошибки указаны в параметре details","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OBErrorResponse400"}}}},"403":{"description":"Данный код статуса формируется в случае ошибки авторизации","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OBErrorResponse403"}}}},"406":{"description":"Данный код статуса формируется в случае значения в заголовке Accept, отличного от разрешенных media types","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OBErrorResponse406"}}}},"415":{"description":"Данный код статуса формируется в случае несоответствия формата запроса поддерживаемым сервером форматом.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OBErrorResponse415"}}}},"500":{"description":"Данный код статуса формируется в случае аварийного завершения работы сервиса. Система может находиться в несогласованном состоянии","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OBErrorResponse500"}}}},"503":{"description":"Данный код статуса формируется в случае отсутствия возможности обработать или выполнить запрос по техническим причинам","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OBErrorResponse503"}}}}},"security":[{"default":["accounts"]}],"x-throttling-tier":"Unlimited","x-auth-type":"Application & Application User"}},"/payments/requirement/{requirementId}":{"get":{"tags":["Создание, получение и отзыв платежа по инициативе бенефициара за товары, работы, услуги (Скоро будет доступно)"],"summary":"Получение статуса платежа по инициативе бенефициара за товары, работы, услуги","description":"Получение статуса платежа по инициативе бенефициара за товары, работы, услуги","operationId":"getRequirementPayments","parameters":[{"name":"requirementId","in":"path","description":"Идентификатор платежного указания","required":true,"style":"simple","explode":false,"schema":{"maxLength":35,"minLength":1,"type":"string"}},{"name":"Accept","in":"header","description":"Тип контента, который требуется от сервера","required":false,"style":"simple","explode":false,"schema":{"type":"string","default":"application/json"}},{"name":"x-fapi-auth-date","in":"header","description":"Дата последней авторизации в систему пользователя API второго типа. Значение предоставляется в виде HTTP-date. [RFC7231]","required":false,"style":"simple","explode":false,"schema":{"type":"string"},"example":"Mon, 26 Aug 2019 12:23:11 GMT"},{"name":"x-fapi-customer-ipaddress","in":"header","description":"IP-адрес клиента, если клиент в данный момент подключен к пользователю API второго типа","required":false,"style":"simple","explode":false,"schema":{"type":"string"}},{"name":"x-fapi-interaction-id","in":"header","description":"Идентификатор корреляции в формате RFC4122 UID","required":true,"style":"simple","explode":false,"schema":{"type":"string"}},{"name":"x-jws-signature","in":"header","description":"Указывает, что JSON запрос подписан","required":false,"style":"simple","explode":false,"schema":{"type":"string"}},{"name":"x-customer-useragent","in":"header","description":"Тип устройства (user-agent), который использует клиент","required":false,"style":"simple","explode":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"Данный код статуса формируется в случае успешного выполнения сервиса.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RequirementPaymentsResponse"}}}},"400":{"description":"Данный код статуса формируется в случае несоответствия входных параметров либо синтаксису, либо допустимому формату. Ошибки указаны в параметре details","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OBErrorResponse400"}}}},"403":{"description":"Данный код статуса формируется в случае ошибки авторизации","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OBErrorResponse403"}}}},"406":{"description":"Данный код статуса формируется в случае значения в заголовке Accept, отличного от разрешенных media types","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OBErrorResponse406"}}}},"415":{"description":"Данный код статуса формируется в случае несоответствия формата запроса поддерживаемым сервером форматом.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OBErrorResponse415"}}}},"500":{"description":"Данный код статуса формируется в случае аварийного завершения работы сервиса. Система может находиться в несогласованном состоянии","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OBErrorResponse500"}}}},"503":{"description":"Данный код статуса формируется в случае отсутствия возможности обработать или выполнить запрос по техническим причинам","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OBErrorResponse503"}}}}},"security":[{"default":["payments"]}],"x-throttling-tier":"Unlimited","x-auth-type":"Application & Application User"},"delete":{"tags":["Создание, получение и отзыв платежа по инициативе бенефициара за товары, работы, услуги (Скоро будет доступно)"],"summary":"Отзыв платежа по инициативе бенефициара за товары, работы, услуги","description":"Отзыв платежа по инициативе бенефициара за товары, работы, услуги","operationId":"deleteRequirementPayments","parameters":[{"name":"requirementId","in":"path","description":"Идентификатор платежного указания","required":true,"style":"simple","explode":false,"schema":{"maxLength":35,"minLength":1,"type":"string"}},{"name":"x-fapi-auth-date","in":"header","description":"Дата последней авторизации в систему пользователя API второго типа. Значение предоставляется в виде HTTP-date. [RFC7231]","required":false,"style":"simple","explode":false,"schema":{"type":"string"},"example":"Mon, 26 Aug 2019 12:23:11 GMT"},{"name":"x-fapi-customer-ipaddress","in":"header","description":"IP-адрес клиента, если клиент в данный момент подключен к пользователю API второго типа","required":false,"style":"simple","explode":false,"schema":{"type":"string"}},{"name":"x-fapi-interaction-id","in":"header","description":"Идентификатор корреляции в формате RFC4122 UID","required":true,"style":"simple","explode":false,"schema":{"type":"string"}},{"name":"x-jws-signature","in":"header","description":"Указывает, что JSON запрос подписан","required":false,"style":"simple","explode":false,"schema":{"type":"string"}},{"name":"x-customer-useragent","in":"header","description":"Тип устройства (user-agent), который использует клиент","required":false,"style":"simple","explode":false,"schema":{"type":"string"}}],"responses":{"204":{"description":"Данный код статуса формируется в случае успешного выполнения сервиса","content":{"application/json":{"schema":{"type":"string"}}}},"400":{"description":"Данный код статуса формируется в случае несоответствия входных параметров либо синтаксису, либо допустимому формату. Ошибки указаны в параметре details","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OBErrorResponse400"}}}},"403":{"description":"Данный код статуса формируется в случае ошибки авторизации","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OBErrorResponse403"}}}},"406":{"description":"Данный код статуса формируется в случае значения в заголовке Accept, отличного от разрешенных media types","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OBErrorResponse406"}}}},"415":{"description":"Данный код статуса формируется в случае несоответствия формата запроса поддерживаемым сервером форматом.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OBErrorResponse415"}}}},"500":{"description":"Данный код статуса формируется в случае аварийного завершения работы сервиса. Система может находиться в несогласованном состоянии","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OBErrorResponse500"}}}},"503":{"description":"Данный код статуса формируется в случае отсутствия возможности обработать или выполнить запрос по техническим причинам","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OBErrorResponse503"}}}}},"security":[{"default":["payments"]}],"x-throttling-tier":"Unlimited","x-auth-type":"Application & Application User"}},"/payments/listPassports/{listPassportsId}":{"get":{"tags":["Создание, получение и отзыв платежа по инициативе плательщика, содержащего список бенефициаров при осуществлении перевода без открытия счета (Скоро будет доступно)"],"summary":"Получения статуса платежа по инициативе плательщика, содержащего список бенефициаров при инициировании перевода без открытия счета","description":"Получения статуса платежа по инициативе плательщика, содержащего список бенефициаров при инициировании перевода без открытия счета","operationId":"getListPassportsPayments","parameters":[{"name":"listPassportsId","in":"path","description":"Идентификатор платежного указания","required":true,"style":"simple","explode":false,"schema":{"maxLength":35,"minLength":1,"type":"string"}},{"name":"Accept","in":"header","description":"Тип контента, который требуется от сервера","required":false,"style":"simple","explode":false,"schema":{"type":"string","default":"application/json"}},{"name":"x-fapi-auth-date","in":"header","description":"Дата последней авторизации в систему пользователя API второго типа. Значение предоставляется в виде HTTP-date. [RFC7231]","required":false,"style":"simple","explode":false,"schema":{"type":"string"},"example":"Mon, 26 Aug 2019 12:23:11 GMT"},{"name":"x-fapi-customer-ipaddress","in":"header","description":"IP-адрес клиента, если клиент в данный момент подключен к пользователю API второго типа","required":false,"style":"simple","explode":false,"schema":{"type":"string"}},{"name":"x-fapi-interaction-id","in":"header","description":"Идентификатор корреляции в формате RFC4122 UID","required":true,"style":"simple","explode":false,"schema":{"type":"string"}},{"name":"x-jws-signature","in":"header","description":"Указывает, что JSON запрос подписан","required":false,"style":"simple","explode":false,"schema":{"type":"string"}},{"name":"x-customer-useragent","in":"header","description":"Тип устройства (user-agent), который использует клиент","required":false,"style":"simple","explode":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"Данный код статуса формируется в случае успешного выполнения сервиса.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ListPassportsPaymentsResponse"}}}},"400":{"description":"Данный код статуса формируется в случае несоответствия входных параметров либо синтаксису, либо допустимому формату. Ошибки указаны в параметре details","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OBErrorResponse400"}}}},"403":{"description":"Данный код статуса формируется в случае ошибки авторизации","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OBErrorResponse403"}}}},"406":{"description":"Данный код статуса формируется в случае значения в заголовке Accept, отличного от разрешенных media types","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OBErrorResponse406"}}}},"415":{"description":"Данный код статуса формируется в случае несоответствия формата запроса поддерживаемым сервером форматом.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OBErrorResponse415"}}}},"500":{"description":"Данный код статуса формируется в случае аварийного завершения работы сервиса. Система может находиться в несогласованном состоянии","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OBErrorResponse500"}}}},"503":{"description":"Данный код статуса формируется в случае отсутствия возможности обработать или выполнить запрос по техническим причинам","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OBErrorResponse503"}}}}},"security":[{"default":["payments"]}],"x-throttling-tier":"Unlimited","x-auth-type":"Application & Application User"},"delete":{"tags":["Создание, получение и отзыв платежа по инициативе плательщика, содержащего список бенефициаров при осуществлении перевода без открытия счета (Скоро будет доступно)"],"summary":"Отзыв платежа по инициативе плательщика, содержащего список бенефициаров при инициировании перевода без открытия счета","description":"Отзыв платежа по инициативе плательщика, содержащего список бенефициаров при инициировании перевода без открытия счета","operationId":"deleteListPassportsPayments","parameters":[{"name":"listPassportsId","in":"path","description":"Идентификатор платежного указания","required":true,"style":"simple","explode":false,"schema":{"maxLength":35,"minLength":1,"type":"string"}},{"name":"x-fapi-auth-date","in":"header","description":"Дата последней авторизации в систему пользователя API второго типа. Значение предоставляется в виде HTTP-date. [RFC7231]","required":false,"style":"simple","explode":false,"schema":{"type":"string"},"example":"Mon, 26 Aug 2019 12:23:11 GMT"},{"name":"x-fapi-customer-ipaddress","in":"header","description":"IP-адрес клиента, если клиент в данный момент подключен к пользователю API второго типа","required":false,"style":"simple","explode":false,"schema":{"type":"string"}},{"name":"x-fapi-interaction-id","in":"header","description":"Идентификатор корреляции в формате RFC4122 UID","required":true,"style":"simple","explode":false,"schema":{"type":"string"}},{"name":"x-jws-signature","in":"header","description":"Указывает, что JSON запрос подписан","required":false,"style":"simple","explode":false,"schema":{"type":"string"}},{"name":"x-customer-useragent","in":"header","description":"Тип устройства (user-agent), который использует клиент","required":false,"style":"simple","explode":false,"schema":{"type":"string"}}],"responses":{"204":{"description":"Данный код статуса формируется в случае успешного выполнения сервиса","content":{"application/json":{"schema":{"type":"string"}}}},"400":{"description":"Данный код статуса формируется в случае несоответствия входных параметров либо синтаксису, либо допустимому формату. Ошибки указаны в параметре details","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OBErrorResponse400"}}}},"403":{"description":"Данный код статуса формируется в случае ошибки авторизации","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OBErrorResponse403"}}}},"406":{"description":"Данный код статуса формируется в случае значения в заголовке Accept, отличного от разрешенных media types","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OBErrorResponse406"}}}},"415":{"description":"Данный код статуса формируется в случае несоответствия формата запроса поддерживаемым сервером форматом.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OBErrorResponse415"}}}},"500":{"description":"Данный код статуса формируется в случае аварийного завершения работы сервиса. Система может находиться в несогласованном состоянии","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OBErrorResponse500"}}}},"503":{"description":"Данный код статуса формируется в случае отсутствия возможности обработать или выполнить запрос по техническим причинам","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OBErrorResponse503"}}}}},"security":[{"default":["payments"]}],"x-throttling-tier":"Unlimited","x-auth-type":"Application & Application User"}},"/payments/listAccounts/{listAccountsId}":{"get":{"tags":["Создание, получение и отзыв платежа по инициативе плательщика, содержащего список бенефициаров с указанием счетов бенефициаров (Скоро будет доступно)"],"summary":"Получения статуса платежа по инициативе плательщика, содержащего список счетов бенефициаров","description":"Получения статуса платежа по инициативе плательщика, содержащего список счетов бенефициаров","operationId":"getListAccountsPayments","parameters":[{"name":"listAccountsId","in":"path","description":"Идентификатор платежного указания","required":true,"style":"simple","explode":false,"schema":{"maxLength":35,"minLength":1,"type":"string"}},{"name":"Accept","in":"header","description":"Тип контента, который требуется от сервера","required":false,"style":"simple","explode":false,"schema":{"type":"string","default":"application/json"}},{"name":"x-fapi-auth-date","in":"header","description":"Дата последней авторизации в систему пользователя API второго типа. Значение предоставляется в виде HTTP-date. [RFC7231]","required":false,"style":"simple","explode":false,"schema":{"type":"string"},"example":"Mon, 26 Aug 2019 12:23:11 GMT"},{"name":"x-fapi-customer-ipaddress","in":"header","description":"IP-адрес клиента, если клиент в данный момент подключен к пользователю API второго типа","required":false,"style":"simple","explode":false,"schema":{"type":"string"}},{"name":"x-fapi-interaction-id","in":"header","description":"Идентификатор корреляции в формате RFC4122 UID","required":true,"style":"simple","explode":false,"schema":{"type":"string"}},{"name":"x-jws-signature","in":"header","description":"Указывает, что JSON запрос подписан","required":false,"style":"simple","explode":false,"schema":{"type":"string"}},{"name":"x-customer-useragent","in":"header","description":"Тип устройства (user-agent), который использует клиент","required":false,"style":"simple","explode":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"Данный код статуса формируется в случае успешного выполнения сервиса.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ListAccountsPaymentsResponse"}}}},"400":{"description":"Данный код статуса формируется в случае несоответствия входных параметров либо синтаксису, либо допустимому формату. Ошибки указаны в параметре details","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OBErrorResponse400"}}}},"403":{"description":"Данный код статуса формируется в случае ошибки авторизации","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OBErrorResponse403"}}}},"406":{"description":"Данный код статуса формируется в случае значения в заголовке Accept, отличного от разрешенных media types","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OBErrorResponse406"}}}},"415":{"description":"Данный код статуса формируется в случае несоответствия формата запроса поддерживаемым сервером форматом.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OBErrorResponse415"}}}},"500":{"description":"Данный код статуса формируется в случае аварийного завершения работы сервиса. Система может находиться в несогласованном состоянии","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OBErrorResponse500"}}}},"503":{"description":"Данный код статуса формируется в случае отсутствия возможности обработать или выполнить запрос по техническим причинам","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OBErrorResponse503"}}}}},"security":[{"default":["payments"]}],"x-throttling-tier":"Unlimited","x-auth-type":"Application & Application User"},"delete":{"tags":["Создание, получение и отзыв платежа по инициативе плательщика, содержащего список бенефициаров с указанием счетов бенефициаров (Скоро будет доступно)"],"summary":"Отзыв платежа по инициативе плательщика, содержащего список счетов бенефициаров","description":"Отзыв платежа по инициативе плательщика, содержащего список счетов бенефициаров","operationId":"deleteListAccountsPayments","parameters":[{"name":"listAccountsId","in":"path","description":"Идентификатор платежного указания","required":true,"style":"simple","explode":false,"schema":{"maxLength":35,"minLength":1,"type":"string"}},{"name":"x-fapi-auth-date","in":"header","description":"Дата последней авторизации в систему пользователя API второго типа. Значение предоставляется в виде HTTP-date. [RFC7231]","required":false,"style":"simple","explode":false,"schema":{"type":"string"},"example":"Mon, 26 Aug 2019 12:23:11 GMT"},{"name":"x-fapi-customer-ipaddress","in":"header","description":"IP-адрес клиента, если клиент в данный момент подключен к пользователю API второго типа","required":false,"style":"simple","explode":false,"schema":{"type":"string"}},{"name":"x-fapi-interaction-id","in":"header","description":"Идентификатор корреляции в формате RFC4122 UID","required":true,"style":"simple","explode":false,"schema":{"type":"string"}},{"name":"x-jws-signature","in":"header","description":"Указывает, что JSON запрос подписан","required":false,"style":"simple","explode":false,"schema":{"type":"string"}},{"name":"x-customer-useragent","in":"header","description":"Тип устройства (user-agent), который использует клиент","required":false,"style":"simple","explode":false,"schema":{"type":"string"}}],"responses":{"204":{"description":"Данный код статуса формируется в случае успешного выполнения сервиса","content":{"application/json":{"schema":{"type":"string"}}}},"400":{"description":"Данный код статуса формируется в случае несоответствия входных параметров либо синтаксису, либо допустимому формату. Ошибки указаны в параметре details","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OBErrorResponse400"}}}},"403":{"description":"Данный код статуса формируется в случае ошибки авторизации","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OBErrorResponse403"}}}},"406":{"description":"Данный код статуса формируется в случае значения в заголовке Accept, отличного от разрешенных media types","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OBErrorResponse406"}}}},"415":{"description":"Данный код статуса формируется в случае несоответствия формата запроса поддерживаемым сервером форматом.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OBErrorResponse415"}}}},"500":{"description":"Данный код статуса формируется в случае аварийного завершения работы сервиса. Система может находиться в несогласованном состоянии","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OBErrorResponse500"}}}},"503":{"description":"Данный код статуса формируется в случае отсутствия возможности обработать или выполнить запрос по техническим причинам","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OBErrorResponse503"}}}}},"security":[{"default":["payments"]}],"x-throttling-tier":"Unlimited","x-auth-type":"Application & Application User"}},"/payments/domesticTax/{domesticTaxId}":{"get":{"tags":["Создание, получение и отзыв платежа по инициативе плательщика в бюджет (Скоро будет доступно)"],"summary":"Получение статуса платежного указания на инициирование платежа плательщиком в бюджет","description":"Получение статуса платежного указания на инициирование платежа плательщиком в бюджет","operationId":"getDomesticTaxPayments","parameters":[{"name":"domesticTaxId","in":"path","description":"Идентификатор платежного указания","required":true,"style":"simple","explode":false,"schema":{"maxLength":35,"minLength":1,"type":"string"}},{"name":"Accept","in":"header","description":"Тип контента, который требуется от сервера","required":false,"style":"simple","explode":false,"schema":{"type":"string","default":"application/json"}},{"name":"x-fapi-auth-date","in":"header","description":"Дата последней авторизации в систему пользователя API второго типа. Значение предоставляется в виде HTTP-date. [RFC7231]","required":false,"style":"simple","explode":false,"schema":{"type":"string"},"example":"Mon, 26 Aug 2019 12:23:11 GMT"},{"name":"x-fapi-customer-ipaddress","in":"header","description":"IP-адрес клиента, если клиент в данный момент подключен к пользователю API второго типа","required":false,"style":"simple","explode":false,"schema":{"type":"string"}},{"name":"x-fapi-interaction-id","in":"header","description":"Идентификатор корреляции в формате RFC4122 UID","required":true,"style":"simple","explode":false,"schema":{"type":"string"}},{"name":"x-jws-signature","in":"header","description":"Указывает, что JSON запрос подписан","required":false,"style":"simple","explode":false,"schema":{"type":"string"}},{"name":"x-customer-useragent","in":"header","description":"Тип устройства (user-agent), который использует клиент","required":false,"style":"simple","explode":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"Данный код статуса формируется в случае успешного выполнения сервиса.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DomesticTaxPaymentsResponse"}}}},"400":{"description":"Данный код статуса формируется в случае несоответствия входных параметров либо синтаксису, либо допустимому формату. Ошибки указаны в параметре details","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OBErrorResponse400"}}}},"403":{"description":"Данный код статуса формируется в случае ошибки авторизации","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OBErrorResponse403"}}}},"406":{"description":"Данный код статуса формируется в случае значения в заголовке Accept, отличного от разрешенных media types","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OBErrorResponse406"}}}},"415":{"description":"Данный код статуса формируется в случае несоответствия формата запроса поддерживаемым сервером форматом.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OBErrorResponse415"}}}},"500":{"description":"Данный код статуса формируется в случае аварийного завершения работы сервиса. Система может находиться в несогласованном состоянии","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OBErrorResponse500"}}}},"503":{"description":"Данный код статуса формируется в случае отсутствия возможности обработать или выполнить запрос по техническим причинам","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OBErrorResponse503"}}}}},"security":[{"default":["payments"]}],"x-throttling-tier":"Unlimited","x-auth-type":"Application & Application User"},"delete":{"tags":["Создание, получение и отзыв платежа по инициативе плательщика в бюджет (Скоро будет доступно)"],"summary":"Отзыв платежного указания на инициирование платежа плательщиком в бюджет","description":"Отзыв платежного указания на инициирование платежа плательщиком в бюджет","operationId":"deleteDomesticTaxPayments","parameters":[{"name":"domesticTaxId","in":"path","description":"Идентификатор платежного указания","required":true,"style":"simple","explode":false,"schema":{"maxLength":35,"minLength":1,"type":"string"}},{"name":"x-fapi-auth-date","in":"header","description":"Дата последней авторизации в систему пользователя API второго типа. Значение предоставляется в виде HTTP-date. [RFC7231]","required":false,"style":"simple","explode":false,"schema":{"type":"string"},"example":"Mon, 26 Aug 2019 12:23:11 GMT"},{"name":"x-fapi-customer-ipaddress","in":"header","description":"IP-адрес клиента, если клиент в данный момент подключен к пользователю API второго типа","required":false,"style":"simple","explode":false,"schema":{"type":"string"}},{"name":"x-fapi-interaction-id","in":"header","description":"Идентификатор корреляции в формате RFC4122 UID","required":true,"style":"simple","explode":false,"schema":{"type":"string"}},{"name":"x-jws-signature","in":"header","description":"Указывает, что JSON запрос подписан","required":false,"style":"simple","explode":false,"schema":{"type":"string"}},{"name":"x-customer-useragent","in":"header","description":"Тип устройства (user-agent), который использует клиент","required":false,"style":"simple","explode":false,"schema":{"type":"string"}}],"responses":{"204":{"description":"Данный код статуса формируется в случае успешного выполнения сервиса","content":{"application/json":{"schema":{"type":"string"}}}},"400":{"description":"Данный код статуса формируется в случае несоответствия входных параметров либо синтаксису, либо допустимому формату. Ошибки указаны в параметре details","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OBErrorResponse400"}}}},"403":{"description":"Данный код статуса формируется в случае ошибки авторизации","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OBErrorResponse403"}}}},"406":{"description":"Данный код статуса формируется в случае значения в заголовке Accept, отличного от разрешенных media types","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OBErrorResponse406"}}}},"415":{"description":"Данный код статуса формируется в случае несоответствия формата запроса поддерживаемым сервером форматом.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OBErrorResponse415"}}}},"500":{"description":"Данный код статуса формируется в случае аварийного завершения работы сервиса. Система может находиться в несогласованном состоянии","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OBErrorResponse500"}}}},"503":{"description":"Данный код статуса формируется в случае отсутствия возможности обработать или выполнить запрос по техническим причинам","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OBErrorResponse503"}}}}},"security":[{"default":["payments"]}],"x-throttling-tier":"Unlimited","x-auth-type":"Application & Application User"}},"/payments/domestic/{domesticId}":{"get":{"tags":["Создание, получение и отзыв платежа по инициативе плательщика за товары, работы, услуги (Скоро будет доступно)"],"summary":"Получения статуса платежа по инициативе плательщика за товары, работы, услуги","description":"Получения статуса платежа по инициативе плательщика за товары, работы, услуги","operationId":"getDomesticPayments","parameters":[{"name":"domesticId","in":"path","description":"Идентификатор платежного указания","required":true,"style":"simple","explode":false,"schema":{"maxLength":35,"minLength":1,"type":"string"}},{"name":"Accept","in":"header","description":"Тип контента, который требуется от сервера","required":false,"style":"simple","explode":false,"schema":{"type":"string","default":"application/json"}},{"name":"x-fapi-auth-date","in":"header","description":"Дата последней авторизации в систему пользователя API второго типа. Значение предоставляется в виде HTTP-date. [RFC7231]","required":false,"style":"simple","explode":false,"schema":{"type":"string"},"example":"Mon, 26 Aug 2019 12:23:11 GMT"},{"name":"x-fapi-customer-ipaddress","in":"header","description":"IP-адрес клиента, если клиент в данный момент подключен к пользователю API второго типа","required":false,"style":"simple","explode":false,"schema":{"type":"string"}},{"name":"x-fapi-interaction-id","in":"header","description":"Идентификатор корреляции в формате RFC4122 UID","required":true,"style":"simple","explode":false,"schema":{"type":"string"}},{"name":"x-jws-signature","in":"header","description":"Указывает, что JSON запрос подписан","required":false,"style":"simple","explode":false,"schema":{"type":"string"}},{"name":"x-customer-useragent","in":"header","description":"Тип устройства (user-agent), который использует клиент","required":false,"style":"simple","explode":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"Данный код статуса формируется в случае успешного выполнения сервиса.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DomesticPaymentsResponse"}}}},"400":{"description":"Данный код статуса формируется в случае несоответствия входных параметров либо синтаксису, либо допустимому формату. Ошибки указаны в параметре details","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OBErrorResponse400"}}}},"403":{"description":"Данный код статуса формируется в случае ошибки авторизации","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OBErrorResponse403"}}}},"406":{"description":"Данный код статуса формируется в случае значения в заголовке Accept, отличного от разрешенных media types","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OBErrorResponse406"}}}},"415":{"description":"Данный код статуса формируется в случае несоответствия формата запроса поддерживаемым сервером форматом.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OBErrorResponse415"}}}},"500":{"description":"Данный код статуса формируется в случае аварийного завершения работы сервиса. Система может находиться в несогласованном состоянии","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OBErrorResponse500"}}}},"503":{"description":"Данный код статуса формируется в случае отсутствия возможности обработать или выполнить запрос по техническим причинам","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OBErrorResponse503"}}}}},"security":[{"default":["payments"]}],"x-throttling-tier":"Unlimited","x-auth-type":"Application & Application User"},"delete":{"tags":["Создание, получение и отзыв платежа по инициативе плательщика за товары, работы, услуги (Скоро будет доступно)"],"summary":"Отзыв платежа по инициативе плательщика за товары, работы, услуги","description":"Отзыв платежа по инициативе плательщика за товары, работы, услуги","operationId":"deleteDomesticPayments","parameters":[{"name":"domesticId","in":"path","description":"Идентификатор платежного указания","required":true,"style":"simple","explode":false,"schema":{"maxLength":35,"minLength":1,"type":"string"}},{"name":"x-fapi-auth-date","in":"header","description":"Дата последней авторизации в систему пользователя API второго типа. Значение предоставляется в виде HTTP-date. [RFC7231]","required":false,"style":"simple","explode":false,"schema":{"type":"string"},"example":"Mon, 26 Aug 2019 12:23:11 GMT"},{"name":"x-fapi-customer-ipaddress","in":"header","description":"IP-адрес клиента, если клиент в данный момент подключен к пользователю API второго типа","required":false,"style":"simple","explode":false,"schema":{"type":"string"}},{"name":"x-fapi-interaction-id","in":"header","description":"Идентификатор корреляции в формате RFC4122 UID","required":true,"style":"simple","explode":false,"schema":{"type":"string"}},{"name":"x-jws-signature","in":"header","description":"Указывает, что JSON запрос подписан","required":false,"style":"simple","explode":false,"schema":{"type":"string"}},{"name":"x-customer-useragent","in":"header","description":"Тип устройства (user-agent), который использует клиент","required":false,"style":"simple","explode":false,"schema":{"type":"string"}}],"responses":{"204":{"description":"Данный код статуса формируется в случае успешного выполнения сервиса","content":{"application/json":{"schema":{"type":"string"}}}},"400":{"description":"Данный код статуса формируется в случае несоответствия входных параметров либо синтаксису, либо допустимому формату. Ошибки указаны в параметре details","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OBErrorResponse400"}}}},"403":{"description":"Данный код статуса формируется в случае ошибки авторизации","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OBErrorResponse403"}}}},"406":{"description":"Данный код статуса формируется в случае значения в заголовке Accept, отличного от разрешенных media types","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OBErrorResponse406"}}}},"415":{"description":"Данный код статуса формируется в случае несоответствия формата запроса поддерживаемым сервером форматом.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OBErrorResponse415"}}}},"500":{"description":"Данный код статуса формируется в случае аварийного завершения работы сервиса. Система может находиться в несогласованном состоянии","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OBErrorResponse500"}}}},"503":{"description":"Данный код статуса формируется в случае отсутствия возможности обработать или выполнить запрос по техническим причинам","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OBErrorResponse503"}}}}},"security":[{"default":["payments"]}],"x-throttling-tier":"Unlimited","x-auth-type":"Application & Application User"}},"/payments/VRP/{VRPId}":{"get":{"tags":["Создание, получение и отзыв реккурентного платежа (Скоро будет доступно)"],"summary":"Получение статуса VRP (рекуррентного) платежа","description":"Получение статуса VRP (рекуррентного) платежа","operationId":"getVrpPayments","parameters":[{"name":"VRPId","in":"path","description":"Идентификатор платежного указания","required":true,"style":"simple","explode":false,"schema":{"maxLength":35,"minLength":1,"type":"string"}},{"name":"Accept","in":"header","description":"Тип контента, который требуется от сервера","required":false,"style":"simple","explode":false,"schema":{"type":"string","default":"application/json"}},{"name":"x-fapi-auth-date","in":"header","description":"Дата последней авторизации в систему пользователя API второго типа. Значение предоставляется в виде HTTP-date. [RFC7231]","required":false,"style":"simple","explode":false,"schema":{"type":"s
[...]
