{
  "openapi" : "3.0.0",
  "info" : {
    "title" : "Open-banking",
    "description" : "open-banking",
    "contact" : {
      "email" : "support@example.com"
    },
    "version" : "v1"
  },
  "servers" : [ {
    "url" : "https://api.priorbank.by:9344/open-banking/v1.0"
  } ],
  "paths" : {
    "/payments/requirement" : {
      "post" : {
        "tags" : [ "Создание", " получение и отзыв платежа по инициативе бенефициара за товары", " работы", " услуги (Скоро будет доступно)" ],
        "summary" : "Создание платежа по инициативе бенефициара за товары, работы, услуги",
        "description" : "Создание платежа по инициативе бенефициара за товары, работы, услуги",
        "operationId" : "createRequirementPayments",
        "parameters" : [ {
          "name" : "Content-Type",
          "in" : "header",
          "description" : "Формат полезной нагрузки в запросе",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "Accept",
          "in" : "header",
          "description" : "Тип контента, который требуется от сервера",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "x-fapi-auth-date",
          "in" : "header",
          "description" : "Дата последней авторизации в систему пользователя API второго типа. Значение предоставляется в виде HTTP-date. [RFC7231]",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "x-fapi-customer-ipaddress",
          "in" : "header",
          "description" : "IP-адрес клиента, если клиент в данный момент подключен к пользователю API второго типа",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "x-fapi-interaction-id",
          "in" : "header",
          "description" : "Идентификатор корреляции в формате RFC4122 UID",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "x-idempotency-key",
          "in" : "header",
          "description" : "Уникальный идентификатор запроса для поддержки идемпотентности. Используется для решения проблем потери связи и отправки повторного запроса",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "x-customer-useragent",
          "in" : "header",
          "description" : "Тип устройства (user-agent), который использует клиент",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "x-jws-signature",
          "in" : "header",
          "description" : "Указывает, что JSON запрос подписан",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "object"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "Данный код статуса формируется в случае успешного выполнения сервиса",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object"
                }
              }
            }
          },
          "400" : {
            "description" : "Данный код статуса формируется в случае несоответствия входных параметров либо синтаксису, либо допустимому формату. Ошибки указаны в параметре details",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object"
                }
              }
            }
          },
          "403" : {
            "description" : "Данный код статуса формируется в случае ошибки авторизации",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object"
                }
              }
            }
          },
          "406" : {
            "description" : "Данный код статуса формируется в случае значения в заголовке Accept, отличного от разрешенных media types",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object"
                }
              }
            }
          },
          "415" : {
            "description" : "Данный код статуса формируется в случае несоответствия формата запроса поддерживаемым сервером форматом.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object"
                }
              }
            }
          },
          "500" : {
            "description" : "Данный код статуса формируется в случае аварийного завершения работы сервиса. Система может находиться в несогласованном состоянии",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object"
                }
              }
            }
          },
          "503" : {
            "description" : "Данный код статуса формируется в случае отсутствия возможности обработать или выполнить запрос по техническим причинам",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object"
                }
              }
            }
          }
        }
      }
    },
    "/payments/listPassports" : {
      "post" : {
        "tags" : [ "Создание", " получение и отзыв платежа по инициативе плательщика", " содержащего список бенефициаров при осуществлении перевода без открытия счета (Скоро будет доступно)" ],
        "summary" : "Создание платежа по инициативе плательщика, содержащего список бенефициаров при инициировании перевода без открытия счета",
        "description" : "Создание платежа по инициативе плательщика, содержащего список бенефициаров при инициировании перевода без открытия счета",
        "operationId" : "createListPassportsPayments",
        "parameters" : [ {
          "name" : "Content-Type",
          "in" : "header",
          "description" : "Формат полезной нагрузки в запросе",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "Accept",
          "in" : "header",
          "description" : "Тип контента, который требуется от сервера",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "x-fapi-auth-date",
          "in" : "header",
          "description" : "Дата последней авторизации в систему пользователя API второго типа. Значение предоставляется в виде HTTP-date. [RFC7231]",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "x-fapi-customer-ipaddress",
          "in" : "header",
          "description" : "IP-адрес клиента, если клиент в данный момент подключен к пользователю API второго типа",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "x-fapi-interaction-id",
          "in" : "header",
          "description" : "Идентификатор корреляции в формате RFC4122 UID",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "x-idempotency-key",
          "in" : "header",
          "description" : "Уникальный идентификатор запроса для поддержки идемпотентности. Используется для решения проблем потери связи и отправки повторного запроса",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "x-jws-signature",
          "in" : "header",
          "description" : "Указывает, что JSON запрос подписан",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "x-customer-useragent",
          "in" : "header",
          "description" : "Тип устройства (user-agent), который использует клиент",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "object"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "Данный код статуса формируется в случае успешного выполнения сервиса",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object"
                }
              }
            }
          },
          "400" : {
            "description" : "Данный код статуса формируется в случае несоответствия входных параметров либо синтаксису, либо допустимому формату. Ошибки указаны в параметре details",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object"
                }
              }
            }
          },
          "403" : {
            "description" : "Данный код статуса формируется в случае ошибки авторизации",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object"
                }
              }
            }
          },
          "406" : {
            "description" : "Данный код статуса формируется в случае значения в заголовке Accept, отличного от разрешенных media types",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object"
                }
              }
            }
          },
          "415" : {
            "description" : "Данный код статуса формируется в случае несоответствия формата запроса поддерживаемым сервером форматом.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object"
                }
              }
            }
          },
          "500" : {
            "description" : "Данный код статуса формируется в случае аварийного завершения работы сервиса. Система может находиться в несогласованном состоянии",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object"
                }
              }
            }
          },
          "503" : {
            "description" : "Данный код статуса формируется в случае отсутствия возможности обработать или выполнить запрос по техническим причинам",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object"
                }
              }
            }
          }
        }
      }
    },
    "/payments/listAccounts" : {
      "post" : {
        "tags" : [ "Создание", " получение и отзыв платежа по инициативе плательщика", " содержащего список бенефициаров с указанием счетов бенефициаров (Скоро будет доступно)" ],
        "summary" : "Создание платежа по инициативе плательщика, содержащего список счетов бенефициаров",
        "description" : "Создание платежа по инициативе плательщика, содержащего список счетов бенефициаров",
        "operationId" : "createListAccountsPayments",
        "parameters" : [ {
          "name" : "Content-Type",
          "in" : "header",
          "description" : "Формат полезной нагрузки в запросе",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "Accept",
          "in" : "header",
          "description" : "Тип контента, который требуется от сервера",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "x-fapi-auth-date",
          "in" : "header",
          "description" : "Дата последней авторизации в систему пользователя API второго типа. Значение предоставляется в виде HTTP-date. [RFC7231]",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "x-fapi-customer-ipaddress",
          "in" : "header",
          "description" : "IP-адрес клиента, если клиент в данный момент подключен к пользователю API второго типа",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "x-fapi-interaction-id",
          "in" : "header",
          "description" : "Идентификатор корреляции в формате RFC4122 UID",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "x-idempotency-key",
          "in" : "header",
          "description" : "Уникальный идентификатор запроса для поддержки идемпотентности. Используется для решения проблем потери связи и отправки повторного запроса",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "x-jws-signature",
          "in" : "header",
          "description" : "Указывает, что JSON запрос подписан",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "x-customer-useragent",
          "in" : "header",
          "description" : "Тип устройства (user-agent), который использует клиент",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "object"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "Данный код статуса формируется в случае успешного выполнения сервиса",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object"
                }
              }
            }
          },
          "400" : {
            "description" : "Данный код статуса формируется в случае несоответствия входных параметров либо синтаксису, либо допустимому формату. Ошибки указаны в параметре details",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object"
                }
              }
            }
          },
          "403" : {
            "description" : "Данный код статуса формируется в случае ошибки авторизации",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object"
                }
              }
            }
          },
          "406" : {
            "description" : "Данный код статуса формируется в случае значения в заголовке Accept, отличного от разрешенных media types",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object"
                }
              }
            }
          },
          "415" : {
            "description" : "Данный код статуса формируется в случае несоответствия формата запроса поддерживаемым сервером форматом.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object"
                }
              }
            }
          },
          "500" : {
            "description" : "Данный код статуса формируется в случае аварийного завершения работы сервиса. Система может находиться в несогласованном состоянии",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object"
                }
              }
            }
          },
          "503" : {
            "description" : "Данный код статуса формируется в случае отсутствия возможности обработать или выполнить запрос по техническим причинам",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object"
                }
              }
            }
          }
        }
      }
    },
    "/payments/domestic" : {
      "post" : {
        "tags" : [ "Создание", " получение и отзыв платежа по инициативе плательщика за товары", " работы", " услуги (Скоро будет доступно)" ],
        "summary" : "Создание платежа по инициативе плательщика за товары, работы, услуги",
        "description" : "Создание платежа по инициативе плательщика за товары, работы, услуги",
        "operationId" : "createDomesticPayments",
        "parameters" : [ {
          "name" : "Content-Type",
          "in" : "header",
          "description" : "Формат полезной нагрузки в запросе",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "Accept",
          "in" : "header",
          "description" : "Тип контента, который требуется от сервера",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "x-fapi-auth-date",
          "in" : "header",
          "description" : "Дата последней авторизации в систему пользователя API второго типа. Значение предоставляется в виде HTTP-date. [RFC7231]",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "x-fapi-customer-ipaddress",
          "in" : "header",
          "description" : "IP-адрес клиента, если клиент в данный момент подключен к пользователю API второго типа",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "x-fapi-interaction-id",
          "in" : "header",
          "description" : "Идентификатор корреляции в формате RFC4122 UID",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "x-idempotency-key",
          "in" : "header",
          "description" : "Уникальный идентификатор запроса для поддержки идемпотентности. Используется для решения проблем потери связи и отправки повторного запроса",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "x-jws-signature",
          "in" : "header",
          "description" : "Указывает, что JSON запрос подписан",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "x-customer-useragent",
          "in" : "header",
          "description" : "Тип устройства (user-agent), который использует клиент",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "object"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "Данный код статуса формируется в случае успешного выполнения сервиса",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object"
                }
              }
            }
          },
          "400" : {
            "description" : "Данный код статуса формируется в случае несоответствия входных параметров либо синтаксису, либо допустимому формату. Ошибки указаны в параметре details",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object"
                }
              }
            }
          },
          "403" : {
            "description" : "Данный код статуса формируется в случае ошибки авторизации",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object"
                }
              }
            }
          },
          "406" : {
            "description" : "Данный код статуса формируется в случае значения в заголовке Accept, отличного от разрешенных media types",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object"
                }
              }
            }
          },
          "415" : {
            "description" : "Данный код статуса формируется в случае несоответствия формата запроса поддерживаемым сервером форматом.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object"
                }
              }
            }
          },
          "500" : {
            "description" : "Данный код статуса формируется в случае аварийного завершения работы сервиса. Система может находиться в несогласованном состоянии",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object"
                }
              }
            }
          },
          "503" : {
            "description" : "Данный код статуса формируется в случае отсутствия возможности обработать или выполнить запрос по техническим причинам",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object"
                }
              }
            }
          }
        }
      }
    },
    "/payments/domesticTax" : {
      "post" : {
        "tags" : [ "Создание", " получение и отзыв платежа по инициативе плательщика в бюджет (Скоро будет доступно)" ],
        "summary" : "Создание платежного указания на инициирование платежа плательщиком в бюджет",
        "description" : "Создание платежного указания на инициирование платежа плательщиком в бюджет",
        "operationId" : "createDomesticTaxPayments",
        "parameters" : [ {
          "name" : "Content-Type",
          "in" : "header",
          "description" : "Формат полезной нагрузки в запросе",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "Accept",
          "in" : "header",
          "description" : "Тип контента, который требуется от сервера",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "x-fapi-auth-date",
          "in" : "header",
          "description" : "Дата последней авторизации в систему пользователя API второго типа. Значение предоставляется в виде HTTP-date. [RFC7231]",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "x-fapi-customer-ipaddress",
          "in" : "header",
          "description" : "IP-адрес клиента, если клиент в данный момент подключен к пользователю API второго типа",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "x-fapi-interaction-id",
          "in" : "header",
          "description" : "Идентификатор корреляции в формате RFC4122 UID",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "x-idempotency-key",
          "in" : "header",
          "description" : "Уникальный идентификатор запроса для поддержки идемпотентности. Используется для решения проблем потери связи и отправки повторного запроса",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "x-jws-signature",
          "in" : "header",
          "description" : "Указывает, что JSON запрос подписан",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "x-customer-useragent",
          "in" : "header",
          "description" : "Тип устройства (user-agent), который использует клиент",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "object"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "Данный код статуса формируется в случае успешного выполнения сервиса",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object"
                }
              }
            }
          },
          "400" : {
            "description" : "Данный код статуса формируется в случае несоответствия входных параметров либо синтаксису, либо допустимому формату. Ошибки указаны в параметре details",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object"
                }
              }
            }
          },
          "403" : {
            "description" : "Данный код статуса формируется в случае ошибки авторизации",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object"
                }
              }
            }
          },
          "406" : {
            "description" : "Данный код статуса формируется в случае значения в заголовке Accept, отличного от разрешенных media types",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object"
                }
              }
            }
          },
          "415" : {
            "description" : "Данный код статуса формируется в случае несоответствия формата запроса поддерживаемым сервером форматом.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object"
                }
              }
            }
          },
          "500" : {
            "description" : "Данный код статуса формируется в случае аварийного завершения работы сервиса. Система может находиться в несогласованном состоянии",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object"
                }
              }
            }
          },
          "503" : {
            "description" : "Данный код статуса формируется в случае отсутствия возможности обработать или выполнить запрос по техническим причинам",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object"
                }
              }
            }
          }
        }
      }
    },
    "/payments/VRP" : {
      "post" : {
        "tags" : [ "Создание", " получение и отзыв реккурентного платежа (Скоро будет доступно)" ],
        "summary" : "Создание VRP (рекуррентного) платежа",
        "description" : "Создание VRP (рекуррентного) платежа",
        "operationId" : "createVrpPayments",
        "parameters" : [ {
          "name" : "Content-Type",
          "in" : "header",
          "description" : "Формат полезной нагрузки в запросе",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "Accept",
          "in" : "header",
          "description" : "Тип контента, который требуется от сервера",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "x-fapi-auth-date",
          "in" : "header",
          "description" : "Дата последней авторизации в систему пользователя API второго типа. Значение предоставляется в виде HTTP-date. [RFC7231]",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "x-fapi-customer-ipaddress",
          "in" : "header",
          "description" : "IP-адрес клиента, если клиент в данный момент подключен к пользователю API второго типа",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "x-fapi-interaction-id",
          "in" : "header",
          "description" : "Идентификатор корреляции в формате RFC4122 UID",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "x-idempotency-key",
          "in" : "header",
          "description" : "Уникальный идентификатор запроса для поддержки идемпотентности. Используется для решения проблем потери связи и отправки повторного запроса",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "x-jws-signature",
          "in" : "header",
          "description" : "Указывает, что JSON запрос подписан",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "x-customer-useragent",
          "in" : "header",
          "description" : "Тип устройства (user-agent), который использует клиент",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "object"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "Данный код статуса формируется в случае успешного выполнения сервиса",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object"
                }
              }
            }
          },
          "400" : {
            "description" : "Данный код статуса формируется в случае несоответствия входных параметров либо синтаксису, либо допустимому формату. Ошибки указаны в параметре details",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object"
                }
              }
            }
          },
          "403" : {
            "description" : "Данный код статуса формируется в случае ошибки авторизации",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object"
                }
              }
            }
          },
          "406" : {
            "description" : "Данный код статуса формируется в случае значения в заголовке Accept, отличного от разрешенных media types",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object"
                }
              }
            }
          },
          "415" : {
            "description" : "Данный код статуса формируется в случае несоответствия формата запроса поддерживаемым сервером форматом.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object"
                }
              }
            }
          },
          "500" : {
            "description" : "Данный код статуса формируется в случае аварийного завершения работы сервиса. Система может находиться в несогласованном состоянии",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object"
                }
              }
            }
          },
          "503" : {
            "description" : "Данный код статуса формируется в случае отсутствия возможности обработать или выполнить запрос по техническим причинам",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object"
                }
              }
            }
          }
        }
      }
    },
    "/paymentConsents/requirement" : {
      "post" : {
        "tags" : [ "Создание и получение согласия на инициирование платежа бенефициаром за товары", " работы", " услуги (Скоро будет доступно)" ],
        "summary" : "Создание согласия на инициирование платежа бенефициаром за товары, работы, услуги",
        "description" : "Создание согласия на инициирование платежа бенефициаром за товары, работы, услуги",
        "operationId" : "createPaymentConsentsRequirement",
        "parameters" : [ {
          "name" : "Content-Type",
          "in" : "header",
          "description" : "Формат полезной нагрузки в запросе",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "Accept",
          "in" : "header",
          "description" : "Тип контента, который требуется от сервера",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "x-fapi-auth-date",
          "in" : "header",
          "description" : "Дата последней авторизации в систему пользователя API второго типа. Значение предоставляется в виде HTTP-date. [RFC7231]",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "x-fapi-customer-ipaddress",
          "in" : "header",
          "description" : "IP-адрес клиента, если клиент в данный момент подключен к пользователю API второго типа",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "x-fapi-interaction-id",
          "in" : "header",
          "description" : "Идентификатор корреляции в формате RFC4122 UID",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "x-idempotency-key",
          "in" : "header",
          "description" : "Уникальный идентификатор запроса для поддержки идемпотентности. Используется для решения проблем потери связи и отправки повторного запроса",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "x-customer-useragent",
          "in" : "header",
          "description" : "Тип устройства (user-agent), который использует клиент",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "object"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "Данный код статуса формируется в случае успешного выполнения сервиса",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object"
                }
              }
            }
          },
          "400" : {
            "description" : "Данный код статуса формируется в случае несоответствия входных параметров либо синтаксису, либо допустимому формату. Ошибки указаны в параметре details",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object"
                }
              }
            }
          },
          "403" : {
            "description" : "Данный код статуса формируется в случае ошибки авторизации",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object"
                }
              }
            }
          },
          "406" : {
            "description" : "Данный код статуса формируется в случае значения в заголовке Accept, отличного от разрешенных media types",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object"
                }
              }
            }
          },
          "415" : {
            "description" : "Данный код статуса формируется в случае несоответствия формата запроса поддерживаемым сервером форматом.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object"
                }
              }
            }
          },
          "500" : {
            "description" : "Данный код статуса формируется в случае аварийного завершения работы сервиса. Система может находиться в несогласованном состоянии",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object"
                }
              }
            }
          },
          "503" : {
            "description" : "Данный код статуса формируется в случае отсутствия возможности обработать или выполнить запрос по техническим причинам",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object"
                }
              }
            }
          }
        }
      }
    },
    "/paymentConsents/listPassports" : {
      "post" : {
        "tags" : [ "Создание и получение согласия на инициирование платежа плательщиком", " содержащего список бенефициаров при осуществлении перевода без открытия счета (Скоро будет доступно)" ],
        "summary" : "Создание согласия на инициирование платежа плательщиком, содержащее список бенефициаров при осуществлении перевода без открытия счета",
        "description" : "Создание согласия на инициирование платежа плательщиком, содержащее список бенефициаров при осуществлении перевода без открытия счета",
        "operationId" : "createPaymentConsentsListPassports",
        "parameters" : [ {
          "name" : "Content-Type",
          "in" : "header",
          "description" : "Формат полезной нагрузки в запросе",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "Accept",
          "in" : "header",
          "description" : "Тип контента, который требуется от сервера",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "x-fapi-auth-date",
          "in" : "header",
          "description" : "Дата последней авторизации в систему пользователя API второго типа. Значение предоставляется в виде HTTP-date. [RFC7231]",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "x-fapi-customer-ipaddress",
          "in" : "header",
          "description" : "IP-адрес клиента, если клиент в данный момент подключен к пользователю API второго типа",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "x-fapi-interaction-id",
          "in" : "header",
          "description" : "Идентификатор корреляции в формате RFC4122 UID",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "x-idempotency-key",
          "in" : "header",
          "description" : "Уникальный идентификатор запроса для поддержки идемпотентности. Используется для решения проблем потери связи и отправки повторного запроса",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "x-customer-useragent",
          "in" : "header",
          "description" : "Тип устройства (user-agent), который использует клиент",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "object"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "Данный код статуса формируется в случае успешного выполнения сервиса",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object"
                }
              }
            }
          },
          "400" : {
            "description" : "Данный код статуса формируется в случае несоответствия входных параметров либо синтаксису, либо допустимому формату. Ошибки указаны в параметре details",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object"
                }
              }
            }
          },
          "403" : {
            "description" : "Данный код статуса формируется в случае ошибки авторизации",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object"
                }
              }
            }
          },
          "406" : {
            "description" : "Данный код статуса формируется в случае значения в заголовке Accept, отличного от разрешенных media types",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object"
                }
              }
            }
          },
          "415" : {
            "description" : "Данный код статуса формируется в случае несоответствия формата запроса поддерживаемым сервером форматом.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object"
                }
              }
            }
          },
          "500" : {
            "description" : "Данный код статуса формируется в случае аварийного завершения работы сервиса. Система может находиться в несогласованном состоянии",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object"
                }
              }
            }
          },
          "503" : {
            "description" : "Данный код статуса формируется в случае отсутствия возможности обработать или выполнить запрос по техническим причинам",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object"
                }
              }
            }
          }
        }
      }
    },
    "/paymentConsents/listAccounts" : {
      "post" : {
        "tags" : [ "Создание и получение согласия на инициирование платежа плательщиком", " содержащего список бенефициаров с указанием счетов бенефициаров (Скоро будет доступно)" ],
        "summary" : "Создание согласия на инициирование платежа плательщиком, содержащего список бенефициаров с указанием счетов бенефициаров",
        "description" : "Создание согласия на инициирование платежа плательщиком, содержащего список бенефициаров с указанием счетов бенефициаров",
        "operationId" : "createPaymentConsentsListAccounts",
        "parameters" : [ {
          "name" : "Content-Type",
          "in" : "header",
          "description" : "Формат полезной нагрузки в запросе",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "Accept",
          "in" : "header",
          "description" : "Тип контента, который требуется от сервера",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "x-fapi-auth-date",
          "in" : "header",
          "description" : "Дата последней авторизации в систему пользователя API второго типа. Значение предоставляется в виде HTTP-date. [RFC7231]",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "x-fapi-customer-ipaddress",
          "in" : "header",
          "description" : "IP-адрес клиента, если клиент в данный момент подключен к пользователю API второго типа",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "x-fapi-interaction-id",
          "in" : "header",
          "description" : "Идентификатор корреляции в формате RFC4122 UID",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "x-idempotency-key",
          "in" : "header",
          "description" : "Уникальный идентификатор запроса для поддержки идемпотентности. Используется для решения проблем потери связи и отправки повторного запроса",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "x-customer-useragent",
          "in" : "header",
          "description" : "Тип устройства (user-agent), который использует клиент",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "object"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "Данный код статуса формируется в случае успешного выполнения сервиса",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object"
                }
              }
            }
          },
          "400" : {
            "description" : "Данный код статуса формируется в случае несоответствия входных параметров либо синтаксису, либо допустимому формату. Ошибки указаны в параметре details",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object"
                }
              }
            }
          },
          "403" : {
            "description" : "Данный код статуса формируется в случае ошибки авторизации",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object"
                }
              }
            }
          },
          "406" : {
            "description" : "Данный код статуса формируется в случае значения в заголовке Accept, отличного от разрешенных media types",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object"
                }
              }
            }
          },
          "415" : {
            "description" : "Данный код статуса формируется в случае несоответствия формата запроса поддерживаемым сервером форматом.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object"
                }
              }
            }
          },
          "500" : {
            "description" : "Данный код статуса формируется в случае аварийного завершения работы сервиса. Система может находиться в несогласованном состоянии",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object"
                }
              }
            }
          },
          "503" : {
            "description" : "Данный код статуса формируется в случае отсутствия возможности обработать или выполнить запрос по техническим причинам",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object"
                }
              }
            }
          }
        }
      }
    },
    "/paymentConsents/domestic" : {
      "post" : {
        "tags" : [ "Создание и получение согласия на инициирование платежа плательщиком за товары", " работы", " услуги  (Скоро будет доступно)" ],
        "summary" : "Создание согласия на инициирование платежа плательщиком за товары, работы, услуги",
        "description" : "Создание согласия на инициирование платежа плательщиком за товары, работы, услуги",
        "operationId" : "createPaymentConsent",
        "parameters" : [ {
          "name" : "Content-Type",
          "in" : "header",
          "description" : "Формат полезной нагрузки в запросе",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "Accept",
          "in" : "header",
          "description" : "Тип контента, который требуется от сервера",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "x-jws-signature",
          "in" : "header",
          "description" : "Указывает, что JSON запрос подписан",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "x-fapi-auth-date",
          "in" : "header",
          "description" : "Дата последней авторизации в систему пользователя API второго типа. Значение предоставляется в виде HTTP-date. [RFC7231]",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "x-fapi-customer-ipaddress",
          "in" : "header",
          "description" : "IP-адрес клиента, если клиент в данный момент подключен к пользователю API второго типа",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "x-fapi-interaction-id",
          "in" : "header",
          "description" : "Идентификатор корреляции в формате RFC4122 UID",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "x-idempotency-key",
          "in" : "header",
          "description" : "Уникальный идентификатор запроса для поддержки идемпотентности. Используется для решения проблем потери связи и отправки повторного запроса",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "x-customer-useragent",
          "in" : "header",
          "description" : "Тип устройства (user-agent), который использует клиент",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "object"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "Запрос успешно выполнен",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object"
                }
              }
            }
          },
          "400" : {
            "description" : "Данный код статуса формируется в случае несоответствия входных параметров либо синтаксису, либо допустимому формату. Ошибки указаны в параметре details",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object"
                }
              }
            }
          },
          "403" : {
            "description" : "Данный код статуса формируется в случае ошибки авторизации",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object"
                }
              }
            }
          },
          "406" : {
            "description" : "Данный код статуса формируется в случае значения в заголовке Accept, отличного от разрешенных media types",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object"
                }
              }
            }
          },
          "415" : {
            "description" : "Данный код статуса формируется в случае несоответствия формата запроса поддерживаемым сервером форматом.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object"
                }
              }
            }
          },
          "500" : {
            "description" : "Данный код статуса формируется в случае аварийного завершения работы сервиса. Система может находиться в несогласованном состоянии",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object"
                }
              }
            }
          },
          "503" : {
            "description" : "Данный код статуса формируется в случае отсутствия возможности обработать или выполнить запрос по техническим причинам",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object"
                }
              }
            }
          }
        }
      }
    },
    "/paymentConsents/domesticTax" : {
      "post" : {
        "tags" : [ "Создание и получение согласия на инициирование платежа плательщиком в бюджет (Скоро будет доступно)" ],
        "summary" : "Создание согласия на инициирование платежа плательщиком в бюджет",
        "description" : "Создание согласия на инициирование платежа плательщиком в бюджет",
        "operationId" : "createPaymentConsent_1",
        "parameters" : [ {
          "name" : "Content-Type",
          "in" : "header",
          "description" : "Формат полезной нагрузки в запросе",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "Accept",
          "in" : "header",
          "description" : "Тип контента, который требуется от сервера",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "x-jwt-assertion",
          "in" : "header",
          "description" : "Параметры приложения и конечного пользователя в структуре jwt, которую формирует API Gateway",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "x-jws-signature",
          "in" : "header",
          "description" : "Указывает, что JSON запрос подписан",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "x-fapi-auth-date",
          "in" : "header",
          "description" : "Дата последней авторизации в систему пользователя API второго типа. Значение предоставляется в виде HTTP-date. [RFC7231]",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "x-fapi-customer-ipaddress",
          "in" : "header",
          "description" : "IP-адрес клиента, если клиент в данный момент подключен к пользователю API второго типа",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "x-fapi-interaction-id",
          "in" : "header",
          "description" : "Идентификатор корреляции в формате RFC4122 UID",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "x-idempotency-key",
          "in" : "header",
          "description" : "Уникальный идентификатор запроса для поддержки идемпотентности. Используется для решения проблем потери связи и отправки повторного запроса",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "x-customer-useragent",
          "in" : "header",
          "description" : "Тип устройства (user-agent), который использует клиент",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "object"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "Запрос успешно выполнен",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object"
                }
              }
            }
          },
          "400" : {
            "description" : "Данный код статуса формируется в случае несоответствия входных параметров либо синтаксису, либо допустимому формату. Ошибки указаны в параметре details",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object"
                }
              }
            }
          },
          "403" : {
            "description" : "Данный код статуса формируется в случае ошибки авторизации",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object"
                }
              }
            }
          },
          "406" : {
            "description" : "Данный код статуса формируется в случае значения в заголовке Accept, отличного от разрешенных media types",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object"
                }
              }
            }
          },
          "415" : {
            "description" : "Данный код статуса формируется в случае несоответствия формата запроса поддерживаемым сервером форматом.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object"
                }
              }
            }
          },
          "500" : {
            "description" : "Данный код статуса формируется в случае аварийного завершения работы сервиса. Система может находиться в несогласованном состоянии",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object"
                }
              }
            }
          },
          "503" : {
            "description" : "Данный код статуса формируется в случае отсутствия возможности обработать или выполнить запрос по техническим причинам",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object"
                }
              }
            }
          }
        }
      }
    },
    "/paymentConsents/VRP" : {
      "post" : {
        "tags" : [ "Создание", " получение и отзыв согласия на инициирование рекуррентного платежа (Скоро будет доступно)" ],
        "summary" : "Создание долгосрочного согласия на инициирование рекуррентного платежа",
        "description" : "Создание долгосрочного согласия на инициирование рекуррентного платежа",
        "operationId" : "createPaymentConsentVrp",
        "parameters" : [ {
          "name" : "Content-Type",
          "in" : "header",
          "description" : "Формат полезной нагрузки в запросе",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "Accept",
          "in" : "header",
          "description" : "Тип контента, который требуется от сервера",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "x-jws-signature",
          "in" : "header",
          "description" : "Указывает, что JSON запрос подписан",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "x-fapi-auth-date",
          "in" : "header",
          "description" : "Дата последней авторизации в систему пользователя API второго типа. Значение предоставляется в виде HTTP-date. [RFC7231]",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "x-fapi-customer-ipaddress",
          "in" : "header",
          "description" : "IP-адрес клиента, если клиент в данный момент подключен к пользователю API второго типа",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "x-fapi-interaction-id",
          "in" : "header",
          "description" : "Идентификатор корреляции в формате RFC4122 UID",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "x-idempotency-key",
          "in" : "header",
          "description" : "Уникальный идентификатор запроса для поддержки идемпотентности. Используется для решения проблем потери связи и отправки повторного запроса",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "x-customer-useragent",
          "in" : "header",
          "description" : "Тип устройства (user-agent), который использует клиент",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "object"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "Запрос успешно выполнен",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object"
                }
              }
            }
          },
          "400" : {
            "description" : "Данный код статуса формируется в случае несоответствия входных параметров либо синтаксису, либо допустимому формату. Ошибки указаны в параметре details",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object"
                }
              }
            }
          },
          "403" : {
            "description" : "Данный код статуса формируется в случае ошибки авторизации",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object"
                }
              }
            }
          },
          "406" : {
            "description" : "Данный код статуса формируется в случае значения в заголовке Accept, отличного от разрешенных media types",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object"
                }
              }
            }
          },
          "415" : {
            "description" : "Данный код статуса формируется в случае несоответствия формата запроса поддерживаемым сервером форматом.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object"
                }
              }
            }
          },
          "500" : {
            "description" : "Данный код статуса формируется в случае аварийного завершения работы сервиса. Система может находиться в несогласованном состоянии",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object"
                }
              }
            }
          },
          "503" : {
            "description" : "Данный код статуса формируется в случае отсутствия возможности обработать или выполнить запрос по техническим причинам",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object"
                }
              }
            }
          }
        }
      }
    },
    "/accounts/{accountId}/transactions" : {
      "post" : {
        "tags" : [ "Создание и получение перечня транзакций по счету" ],
        "summary" : "Создание перечня транзакций по счету",
        "description" : "Создание перечня транзакций по счету ",
        "operationId" : "postAccountTransactionsList",
        "parameters" : [ {
          "name" : "Content-Type",
          "in" : "header",
          "description" : "Формат полезной нагрузки в запросе",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "Accept",
          "in" : "header",
          "description" : "Тип контента, который требуется от сервера",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "x-fapi-auth-date",
          "in" : "header",
          "description" : "Дата последней авторизации в систему пользователя API второго типа. Значение предоставляется в виде HTTP-date. [RFC7231]",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "x-fapi-customer-ipaddress",
          "in" : "header",
          "description" : "IP-адрес клиента, если клиент в данный момент подключен к пользователю API второго типа",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "x-fapi-interaction-id",
          "in" : "header",
          "description" : "Идентификатор корреляции в формате RFC4122 UID",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "x-idempotency-key",
          "in" : "header",
          "description" : "Уникальный идентификатор запроса для поддержки идемпотентности. Используется для решения проблем потери связи и отправки повторного запроса",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "x-customer-useragent",
          "in" : "header",
          "description" : "Тип устройства (user-agent), который использует клиент.<br>Если используется мобильное приложение пользователя API второго типа, пользователь API второго типа проверяет, что строка типа устройства (user-agent) отличается от строки типа устройства (user-agent) на основе браузера",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "x-accountConsentId",
          "in" : "header",
          "description" : "Идентификатор согласия, в рамках которого отправляется запрос.<br>Предназначен для идентификации и авторизации запросов на получение информации по счету (счетам) пользователя API первого типа",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "accountId",
          "in" : "path",
          "description" : "Идентификатор счета",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "x-api-key",
          "in" : "header",
          "description" : "Идентификатор Apikey, предназначенный для идентификации и авторизации запросов пользователя API первого типа",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "object"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "Данный код статуса формируется в случае успешного выполнения сервиса",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object"
                }
              }
            }
          },
          "400" : {
            "description" : "Данный код статуса формируется в случае несоответствия входных параметров либо синтаксису, либо допустимому формату. Ошибки указаны в параметре details",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object"
                }
              }
            }
          },
          "403" : {
            "description" : "Данный код статуса формируется в случае ошибки авторизации",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object"
                }
              }
            }
          },
          "406" : {
            "description" : "Данный код статуса формируется в случае значения в заголовке Accept, отличного от разрешенных media types",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object"
                }
              }
            }
          },
          "415" : {
            "description" : "Данный код статуса формируется в случае несоответствия формата запроса поддерживаемым сервером форматом.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object"
                }
              }
            }
          },
          "500" : {
            "description" : "Данный код статуса формируется в случае аварийного завершения работы сервиса. Система может находиться в несогласованном состоянии",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object"
                }
              }
            }
          },
          "503" : {
            "description" : "Данный код статуса формируется в случае отсутствия возможности обработать или выполнить запрос по техническим причинам",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object"
                }
              }
            }
          }
        }
      }
    },
    "/accounts/{accountId}/statements" : {
      "post" : {
        "tags" : [ "Создание и получение выписки по счету" ],
        "summary" : "Создание выписки по счету",
        "description" : "Создание выписки по счету",
        "operationId" : "createAccountStatement",
        "parameters" : [ {
          "name" : "Content-Type",
          "in" : "header",
          "description" : "Формат полезной нагрузки в запросе",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "Accept",
          "in" : "header",
          "description" : "Тип контента, который требуется от сервера",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "x-fapi-auth-date",
          "in" : "header",
          "description" : "Дата последней авторизации в систему пользователя API второго типа. Значение предоставляется в виде HTTP-date. [RFC7231]",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "x-fapi-customer-ipaddress",
          "in" : "header",
          "description" : "IP-адрес клиента, если клиент в данный момент подключен к пользователю API второго типа",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "x-fapi-interaction-id",
          "in" : "header",
          "description" : "Идентификатор корреляции в формате RFC4122 UID",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "x-idempotency-key",
          "in" : "header",
          "description" : "Уникальный идентификатор запроса для поддержки идемпотентности. Используется для решения проблем потери связи и отправки повторного запроса",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "x-customer-useragent",
          "in" : "header",
          "description" : "Тип устройства (user-agent), который использует клиент.<br>Если используется мобильное приложение пользователя API второго типа, пользователь API второго типа проверяет, что строка типа устройства (user-agent) отличается от строки типа устройства (user-agent) на основе браузера",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "accountId",
          "in" : "path",
          "description" : "Идентификатор счета",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "x-accountConsentId",
          "in" : "header",
          "description" : "Идентификатор согласия, в рамках которого отправляется запрос.<br>Предназначен для идентификации и авторизации запросов на получение информации по счету (счетам) пользователя API первого типа",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "x-api-key",
          "in" : "header",
          "description" : "Идентификатор Apikey, предназначенный для идентификации и авторизации запросов пользователя API первого типа",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "object"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "Данный код статуса формируется в случае успешного выполнения сервиса",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object"
                }
              }
            }
          },
          "400" : {
            "description" : "Данный код статуса формируется в случае несоответствия входных параметров либо синтаксису, либо допустимому формату. Ошибки указаны в параметре details",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object"
                }
              }
            }
          },
          "403" : {
            "description" : "Данный код статуса формируется в случае ошибки авторизации",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object"
                }
              }
            }
          },
          "406" : {
            "description" : "Данный код статуса формируется в случае значения в заголовке Accept, отличного от разрешенных media types",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object"
                }
              }
            }
          },
          "415" : {
            "description" : "Данный код статуса формируется в случае несоответствия формата запроса поддерживаемым сервером форматом.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object"
                }
              }
            }
          },
          "500" : {
            "description" : "Данный код статуса формируется в случае аварийного завершения работы сервиса. Система может находиться в несогласованном состоянии",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object"
                }
              }
            }
          },
          "503" : {
            "description" : "Данный код статуса формируется в случае отсутствия возможности обработать или выполнить запрос по техническим причинам",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object"
                }
              }
            }
          }
        }
      }
    },
    "/accountConsents" : {
      "post" : {
        "tags" : [ "Создание", " удаление", " получение информации о согласиях по счетам" ],
        "summary" : "Создание согласия на получение информации о счете (счетах) клиента",
        "description" : "Создание согласия на получение информации о счете (счетах) клиента",
        "operationId" : "createAccountConsent",
        "parameters" : [ {
          "name" : "Content-Type",
          "in" : "header",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "Accept",
          "in" : "header",
          "description" : "Тип контента, который требуется от сервера",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "x-fapi-auth-date",
          "in" : "header",
          "description" : "Дата последней авторизации в систему пользователя API второго типа. Значение предоставляется в виде HTTP-date. [RFC7231]",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "x-fapi-customer-ipaddress",
          "in" : "header",
          "description" : "IP-адрес клиента, если клиент в данный момент подключен к пользователю API второго типа",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "x-fapi-interaction-id",
          "in" : "header",
          "description" : "Идентификатор корреляции в формате RFC4122 UID",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "x-idempotency-key",
          "in" : "header",
          "description" : "Уникальный идентификатор запроса для поддержки идемпотентности. Используется для решения проблем потери связи и отправки повторного запроса",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "x-customer-useragent",
          "in" : "header",
          "description" : "Тип устройства (user-agent), который использует клиент.<br>Если используется мобильное приложение пользователя API второго типа, пользователь API второго типа проверяет, что строка типа устройства (user-agent) отличается от строки типа устройства (user-agent) на основе браузера",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "x-api-key",
          "in" : "header",
          "description" : "Идентификатор Apikey, предназначенный для идентификации и авторизации запросов пользователя API первого типа",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "object"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "description" : "Данный код статуса формируется в случае успешного выполнения сервиса",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object"
                }
              }
            }
          },
          "400" : {
            "description" : "Данный код статуса формируется в случае несоответствия входных параметров либо синтаксису, либо допустимому формату. Ошибки указаны в параметре details",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object"
                }
              }
            }
          },
          "403" : {
            "description" : "Данный код статуса формируется в случае ошибки авторизации",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object"
                }
              }
            }
          },
          "406" : {
            "description" : "Данный код статуса формируется в случае значения в заголовке Accept, отличного от разрешенных media types",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object"
                }
              }
            }
          },
          "415" : {
            "description" : "Данный код статуса формируется в случае несоответствия формата запроса поддерживаемым сервером форматом.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object"
                }
              }
            }
          },
          "500" : {
            "description" : "Данный код статуса формируется в случае аварийного завершения работы сервиса. Система может находиться в несогласованном состоянии",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object"
                }
              }
            }
          },
          "503" : {
            "description" : "Данный код статуса формируется в случае отсутствия возможности обработать или выполнить запрос по техническим причинам",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object"
                }
              }
            }
          }
        }
      }
    },
    "/payments/requirement/{requirementId}" : {
      "get" : {
        "tags" : [ "Создание", " получение и отзыв платежа по инициативе бенефициара за товары", " работы", " услуги (Скоро будет доступно)" ],
        "summary" : "Получение статуса платежа по инициативе бенефициара за товары, работы, услуги",
        "description" : "Получение статуса платежа по инициативе бенефициара за товары, работы, услуги",
        "operationId" : "getRequirementPayments",
        "parameters" : [ {
          "name" : "requirementId",
          "in" : "path",
          "description" : "Идентификатор платежного указания",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "Accept",
          "in" : "header",
          "description" : "Тип контента, который требуется от сервера",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "x-fapi-auth-date",
          "in" : "header",
          "description" : "Дата последней авторизации в систему пользователя API второго типа. Значение предоставляется в виде HTTP-date. [RFC7231]",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "x-fapi-customer-ipaddress",
          "in" : "header",
          "description" : "IP-адрес клиента, если клиент в данный момент подключен к пользователю API второго типа",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "x-fapi-interaction-id",
          "in" : "header",
          "description" : "Идентификатор корреляции в формате RFC4122 UID",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "x-jws-signature",
          "in" : "header",
          "description" : "Указывает, что JSON запрос подписан",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "x-customer-useragent",
          "in" : "header",
          "description" : "Тип устройства (user-agent), который использует клиент",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Данный код статуса формируется в случае успешного выполнения сервиса.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object"
                }
              }
            }
          },
          "400" : {
            "description" : "Данный код статуса формируется в случае несоответствия входных параметров либо синтаксису, либо допустимому формату. Ошибки указаны в параметре details",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object"
                }
              }
            }
          },
          "403" : {
            "description" : "Данный код статуса формируется в случае ошибки авторизации",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object"
                }
              }
            }
          },
          "406" : {
            "description" : "Данный код статуса формируется в случае значения в заголовке Accept, отличного от разрешенных media types",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object"
                }
              }
            }
          },
          "415" : {
            "description" : "Данный код статуса формируется в случае несоответствия формата запроса поддерживаемым сервером форматом.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object"
                }
              }
            }
          },
          "500" : {
            "description" : "Данный код статуса формируется в случае аварийного завершения работы сервиса. Система может находиться в несогласованном состоянии",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object"
                }
              }
            }
          },
          "503" : {
            "description" : "Данный код статуса формируется в случае отсутствия возможности обработать или выполнить запрос по техническим причинам",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "Создание", " получение и отзыв платежа по инициативе бенефициара за товары", " работы", " услуги (Скоро будет доступно)" ],
        "summary" : "Отзыв платежа по инициативе бенефициара за товары, работы, услуги",
        "description" : "Отзыв платежа по инициативе бенефициара за товары, работы, услуги",
        "operationId" : "deleteRequirementPayments",
        "parameters" : [ {
          "name" : "requirementId",
          "in" : "path",
          "description" : "Идентификатор платежного указания",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "x-fapi-auth-date",
          "in" : "header",
          "description" : "Дата последней авторизации в систему пользователя API второго типа. Значение предоставляется в виде HTTP-date. [RFC7231]",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "x-fapi-customer-ipaddress",
          "in" : "header",
          "description" : "IP-адрес клиента, если клиент в данный момент подключен к пользователю API второго типа",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "x-fapi-interaction-id",
          "in" : "header",
          "description" : "Идентификатор корреляции в формате RFC4122 UID",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "x-jws-signature",
          "in" : "header",
          "description" : "Указывает, что JSON запрос подписан",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "x-customer-useragent",
          "in" : "header",
          "description" : "Тип устройства (user-agent), который использует клиент",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "Данный код статуса формируется в случае успешного выполнения сервиса",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "string"
                }
              }
            }
          },
          "400" : {
            "description" : "Данный код статуса формируется в случае несоответствия входных параметров либо синтаксису, либо допустимому формату. Ошибки указаны в параметре details",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object"
                }
              }
            }
          },
          "403" : {
            "description" : "Данный код статуса формируется в случае ошибки авторизации",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object"
                }
              }
            }
          },
          "406" : {
            "description" : "Данный код статуса формируется в случае значения в заголовке Accept, отличного от разрешенных media types",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object"
                }
              }
            }
          },
          "415" : {
            "description" : "Данный код статуса формируется в случае несоответствия формата запроса поддерживаемым сервером форматом.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object"
                }
              }
            }
          },
          "500" : {
            "description" : "Данный код статуса формируется в случае аварийного завершения работы сервиса. Система может находиться в несогласованном состоянии",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object"
                }
              }
            }
          },
          "503" : {
            "description" : "Данный код статуса формируется в случае отсутствия возможности обработать или выполнить запрос по техническим причинам",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object"
                }
              }
            }
          }
        }
      }
    },
    "/payments/listPassports/{listPassportsId}" : {
      "get" : {
        "tags" : [ "Создание", " получение и отзыв платежа по инициативе плательщика", " содержащего список бенефициаров при осуществлении перевода без открытия счета (Скоро будет доступно)" ],
        "summary" : "Получения статуса платежа по инициативе плательщика, содержащего список бенефициаров при инициировании перевода без открытия счета",
        "description" : "Получения статуса платежа по инициативе плательщика, содержащего список бенефициаров при инициировании перевода без открытия счета",
        "operationId" : "getListPassportsPayments",
        "parameters" : [ {
          "name" : "listPassportsId",
          "in" : "path",
          "description" : "Идентификатор платежного указания",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "Accept",
          "in" : "header",
          "description" : "Тип контента, который требуется от сервера",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "x-fapi-auth-date",
          "in" : "header",
          "description" : "Дата последней авторизации в систему пользователя API второго типа. Значение предоставляется в виде HTTP-date. [RFC7231]",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "x-fapi-customer-ipaddress",
          "in" : "header",
          "description" : "IP-адрес клиента, если клиент в данный момент подключен к пользователю API второго типа",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "x-fapi-interaction-id",
          "in" : "header",
          "description" : "Идентификатор корреляции в формате RFC4122 UID",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "x-jws-signature",
          "in" : "header",
          "description" : "Указывает, что JSON запрос подписан",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "x-customer-useragent",
          "in" : "header",
          "description" : "Тип устройства (user-agent), который использует клиент",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Данный код статуса формируется в случае успешного выполнения сервиса.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object"
                }
              }
            }
          },
          "400" : {
            "description" : "Данный код статуса формируется в случае несоответствия входных параметров либо синтаксису, либо допустимому формату. Ошибки указаны в параметре details",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object"
                }
              }
            }
          },
          "403" : {
            "description" : "Данный код статуса формируется в случае ошибки авторизации",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object"
                }
              }
            }
          },
          "406" : {
            "description" : "Данный код статуса формируется в случае значения в заголовке Accept, отличного от разрешенных media types",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object"
                }
              }
            }
          },
          "415" : {
            "description" : "Данный код статуса формируется в случае несоответствия формата запроса поддерживаемым сервером форматом.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object"
                }
              }
            }
          },
          "500" : {
            "description" : "Данный код статуса формируется в случае аварийного завершения работы сервиса. Система может находиться в несогласованном состоянии",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object"
                }
              }
            }
          },
          "503" : {
            "description" : "Данный код статуса формируется в случае отсутствия возможности обработать или выполнить запрос по техническим причинам",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object"
                }
              }
            }
          }
        }
      },
      "delete" : {
        "tags" : [ "Создание", " получение и отзыв платежа по инициативе плательщика", " содержащего список бенефициаров при осуществлении перевода без открытия счета (Скоро будет доступно)" ],
        "summary" : "Отзыв платежа по инициативе плательщика, содержащего список бенефициаров при инициировании перевода без открытия счета",
        "description" : "Отзыв платежа по инициативе плательщика, содержащего список бенефициаров при инициировании перевода без открытия счета",
        "operationId" : "deleteListPassportsPayments",
        "parameters" : [ {
          "name" : "listPassportsId",
          "in" : "path",
          "description" : "Идентификатор платежного указания",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "x-fapi-auth-date",
          "in" : "header",
          "description" : "Дата последней авторизации в систему пользователя API второго типа. Значение предоставляется в виде HTTP-date. [RFC7231]",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "x-fapi-customer-ipaddress",
          "in" : "header",
          "description" : "IP-адрес клиента, если клиент в данный момент подключен к пользователю API второго типа",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "x-fapi-interaction-id",
          "in" : "header",
          "description" : "Идентификатор корреляции в формате RFC4122 UID",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "x-jws-signature",
          "in" : "header",
          "description" : "Указывает, что JSON запрос подписан",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "x-customer-useragent",
          "in" : "header",
          "description" : "Тип устройства (user-agent), который использует клиент",
          "required" : false,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "Данный код статуса формируется в случае успешного выполнения сервиса",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "string"
                }
              }
            }
          },
          "400" : {
            "description" : "Данный код статуса формируется в случае несоответствия входных параметров либо синтаксису, либо допустимому формату. Ошибки указаны в параметре details",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object"
                }
              }
            }
          },
          "403" : {
            "description" : "Данный код статуса формируется в случае ошибки авторизации",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object"
                }
              }
            }
          },
          "406" : {
            "description" : "Данный код статуса формируется в случае значения в заголовке Accept, отличного от разрешенных media types",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "object"
                }
              }
            }
          },
          "415" : {
[...]
